# Importing the Libraries

In [129]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import CountVectorizer
from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Datasets

In [130]:
# Importing the Philadelphia buildings dataset

df1 = pd.read_csv('phl_buildings.csv')
df1.head()

,OBJECTID,BIN,FCODE,ADDRESS,BUILDING_NAME,BASE_ELEVATION,APPROX_HGT,MAX_HGT,PARCEL_ID_NUM,PARCEL_ID_SOURCE,Shape__Area,Shape__Length
0,51065281,1000001,1810,1501 N 18TH ST,NaN,104.2,20.0,28.0,319860,PWD,97.761719,40.383631
1,51065282,1000002,1810,1501 N 18TH ST,NaN,103.3,20.0,29.0,319860,PWD,99.632812,40.691884
2,51065283,1000003,1810,1501 N 18TH ST,NaN,103.9,20.0,28.0,319860,PWD,96.292969,40.145485
3,51065284,1000004,1810,1501 N 18TH ST,NaN,103.6,20.0,28.0,319860,PWD,98.699219,40.543015
4,51065285,1000005,1810,1501 N 18TH ST,NaN,108.0,20.0,30.0,319860,PWD,101.902344,42.790290

In [131]:
print(f"No. of rows in df1:", len(df1))
print(f"No. columns in df1:", len(df1.columns))

No. of rows in df1: 543278
No. columns in df1: 12

In [132]:
# Importing the Philadelphia Properties dataset
df2 = pd.read_csv("phl_properties.csv", low_memory = False)

print(f"No. of rows in df2:", len(df2))
print(f"No. columns in df2:", len(df2.columns))

No. of rows in df2: 581456
No. columns in df2: 75

<b> Since we are interested in in property prie prediction. That's why we are nly going to use the Philadelphia Properties dataset. </b>

In [133]:
df = df2.copy()

In [134]:
# Removing the columns which do not contribute to the property price

df.drop(columns=['assessment_date','beginning_point','book_and_page','census_tract','cross_reference','date_exterior_condition',
                 'exempt_building','exempt_land','geographic_ward','homestead_exemption','house_extension','house_number',
                 'mailing_zip','market_value_date','off_street_open','separate_utilities','sewer','site_type','state_code',
                 'street_code','street_direction','street_name','suffix','taxable_building','taxable_land','utility',
                 'year_built_estimate','objectid','mailing_address_1','mailing_address_2','mailing_care_of','mailing_city_state',
                 ], inplace=True)

In [135]:
df.head()

,basements,building_code,building_code_description,category_code,category_code_description,central_air,depth,exterior_condition,fireplaces,frontage,...,topography,total_area,total_livable_area,type_heater,unfinished,unit,view_type,year_built,zip_code,zoning
0,D,P50,ROW W/GAR 3 STY MASONRY,1,Single Family,N,49.0,5.0,0.0,15.90,...,F,779.0,1650.0,H,NaN,NaN,I,1920,191475425,RSA5
1,D,O50,ROW 3 STY MASONRY,1,Single Family,Y,49.0,2.0,0.0,15.90,...,F,779.1,1203.0,H,NaN,NaN,I,1920,191475425,RSA5
2,D,O50,ROW 3 STY MASONRY,1,Single Family,N,49.0,4.0,0.0,14.80,...,F,725.2,1482.0,H,NaN,NaN,I,1920,191475425,RSA5
3,D,O50,ROW 3 STY MASONRY,1,Single Family,Y,100.0,4.0,0.0,14.33,...,F,1433.0,2049.0,A,NaN,NaN,I,1920,191475425,RSA5
4,C,O50,ROW 3 STY MASONRY,1,Single Family,N,100.0,4.0,0.0,15.00,...,F,1500.0,1155.0,H,NaN,NaN,I,1920,191475425,RSA5

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581456 entries, 0 to 581455
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   basements                  325571 non-null  object
 1   building_code              581456 non-null  object
 2   building_code_description  581456 non-null  object
 3   category_code              581456 non-null  int64
 4   category_code_description  581456 non-null  object
 5   central_air                285860 non-null  object
 6   depth                      581454 non-null  float64
 7   exterior_condition         556191 non-null  float64
 8   fireplaces                 581435 non-null  float64
 9   frontage                   581454 non-null  float64
 10  fuel                       10900 non-null   object
 11  garage_spaces              581435 non-null  float64
 12  garage_type                530522 non-null  object
 13  general_construction       517227 non-null  object
 14  interior_condition         555275 non-null  float64
 15  location                   581456 non-null  object
 16  mailing_street             219972 non-null  object
 17  market_value               581456 non-null  float64
 18  number_of_bathrooms        581446 non-null  float64
 19  number_of_bedrooms         581446 non-null  float64
 20  number_of_rooms            581446 non-null  float64
 21  number_stories             581446 non-null  float64
 22  other_building             1326 non-null    object
 23  owner_1                    581456 non-null  object
 24  owner_2                    204893 non-null  object
 25  parcel_number              581456 non-null  int64
 26  parcel_shape               575235 non-null  object
 27  quality_grade              27085 non-null   float64
 28  recording_date             581442 non-null  object
 29  registry_number            580973 non-null  object
 30  sale_date                  581421 non-null  object
 31  sale_price                 581456 non-null  float64
 32  street_designation         581451 non-null  object
 33  topography                 542500 non-null  object
 34  total_area                 581454 non-null  float64
 35  total_livable_area         581446 non-null  float64
 36  type_heater                293778 non-null  object
 37  unfinished                 2891 non-null    object
 38  unit                       38730 non-null   object
 39  view_type                  560269 non-null  object
 40  year_built                 581444 non-null  object
 41  zip_code                   581452 non-null  object
 42  zoning                     581323 non-null  object
dtypes: float64(15), int64(2), object(26)
memory usage: 190.8+ MB

To ease the exploratory data analysis process, we grouped the columns based on its types and its connections with other columns.

1. Property Location:
    * Location, Street Designation
2. Classification of Property:
    * Building code, Building code description, Category code, Category code description
    * Unit
    * Zoning
    * Unfinished
    * Zip code
3. Property Specifications:
    * Basements, Garage type, Garage spaces
    * Central air, Fireplaces, Other building, Unfinished, Topography, View type
    * Depth, Frontage, Total area, Total livable area
    * Exterior condition, Interior condition, Quality grade, General construction
    * Fuel, Type heater
    * Number of bathrooms, Number of bedrooms, Number of rooms, Number stories, Year built 
    * Market value, Sale price, Sale date
4. Others:
    * Parcel number, Parcel shape
    * Recording date, registry number

# Cleaning and Initial EDA of Features

<strong> Category Code, Building Code and Zoning </strong>

In [137]:
df[['category_code','category_code_description']].dtypes

category_code                 int64
category_code_description    object
dtype: object

In [138]:
df['category_code'].value_counts()

1    461573
6     44612
2     42462
3     14396
4     14059
5      4354
Name: category_code, dtype: int64

In [139]:
df['category_code_description'].value_counts()

Single Family    461573
Vacant Land       44612
Multi Family      42462
Mixed Use         14396
Commercial        14059
Industrial         4354
Name: category_code_description, dtype: int64

<b> Building Code </b>

In [140]:
df[['building_code','building_code_description']].dtypes

building_code                object
building_code_description    object
dtype: object

In [141]:
df[['building_code','building_code_description']].nunique()

building_code                802
building_code_description    798
dtype: int64

<b> Zoning </b>

In [142]:
df['zoning'].dtypes

dtype('O')

In [143]:
df['zoning'].nunique()

43

In [144]:
df['zoning'] = df['zoning'].apply(lambda x: str(x).strip())
df['zoning'].unique()

array(['RSA5', 'ICMX', 'RM1', 'CMX1', 'I2', 'CMX2', 'RMX2', 'CMX25',
       'CA1', 'nan', 'CMX3', 'SPPOA', 'RM2', 'RSA3', 'CMX2.', 'CMX4',
       'RSA1', 'RSD1', 'IRMX', 'RMX3', 'CMX5', 'RM4', 'I1', 'RS3', 'RSA2',
       'RTA1', 'RSD3', 'RMX1', 'RM3', 'RSA', 'SPINS', 'RSD2', 'CA2', 'I3',
       'SPAIR', 'RSA4', '12', 'IP', 'SPSTA', 'SC', 'SPENT', '2002',
       'SPPOP', 'SP'], dtype=object)

In [145]:
df['zoning'].value_counts()

RSA5     288769
RM1      105876
RSA3      62750
CMX2      20772
RSD3      13180
RSA2      12602
RSA4      12188
CMX3       8053
RTA1       5766
RM2        5547
CMX1       5445
CMX5       4915
CMX25      4335
I2         4270
CMX4       4194
RM4        3814
RSD1       3270
ICMX       2993
RMX3       2276
RSA1       1294
RM3        1292
RMX1       1275
RSD2       1274
SPPOA       868
CA1         844
I1          725
IRMX        708
CA2         628
I3          433
SPINS       366
RMX2        271
CMX2.       211
nan         133
12           45
SPAIR        23
IP           23
SPSTA        16
RSA           3
SPENT         3
SPPOP         2
2002          1
RS3           1
SC            1
SP            1
Name: zoning, dtype: int64

<b> Dropping Anomalies </b>

In [146]:
index = df[df['zoning']=='2002'].index
df.drop(index=index, axis=0, inplace=True)

In [147]:
index = df[df['zoning']=='SP'].index
df.drop(index=index, axis=0, inplace=True)

In [148]:
index = df[df['zoning']=='RS3'].index
df.drop(index=index, axis=0, inplace=True)

In [149]:
index = df[df['zoning']=='SC'].index
df.drop(index=index, axis=0, inplace=True)

In [150]:
index = df[df['zoning']=='RSA'].index
df.drop(index=index, axis=0, inplace=True)

<b> Fixing Typos </b>

In [151]:
df['zoning'] = df['zoning'].apply(lambda x: 'I2' if x=='12' else x)

In [152]:
df['zoning'] = df['zoning'].apply(lambda x: 'CMX2' if x=='CMX2' else x)

In [153]:
df['zoning'] = df['zoning'].apply(lambda x: np.nan if x=='nan' else x)

In [154]:
df['zoning'].isna().sum()

133

<b> Dropping NAs </b>

In [155]:
index = df[df['zoning'].isna()].index
df.drop(index=index, axis=0, inplace=True)

In [156]:
df['zoning'].isna().sum()

0

In [157]:
df['new_zoning']=df['zoning'].apply(lambda x: 'Residential Single Family' if (x=='RSD1') | (x=='RSD2') | (x=='RSD3') 
                   | (x=='RSA1') | (x=='RSA2') | (x=='RSA3') | (x=='RSA4') | (x=='RSA5') else 
                   'Residential Two Family' if (x=='RTA1') else
                   'Residential Multi Family' if (x=='RM1') | (x=='RM2') | (x=='RM3') | (x=='RM4') else
                   'Mixed Used' if (x=='RMX1') | (x=='RMX2') | (x=='RMX3') | (x=='CMX1') | (x=='CMX2') 
                   | (x=='CMX25') | (x=='CMX3') | (x=='CMX4') | (x=='CMX5') | (x=='ICMX') | (x=='IRMX')else
                   'Commercial' if (x=='CA1') | (x=='CA2') else
                   'Industrial' if (x=='I1') | (x=='I2') | (x=='I3') | (x=='IP') else 
                   'Special Purpose Airport' if (x=='SPAIR') else 
                   'Special Purpose Institution' if (x=='SPINS') else 
                   'Special Purpose Entertainment' if (x=='SPENT') else 
                   'Special Purpose Stadium' if (x=='SPSTA') else 
                   'Special Purpose Open Space-Active' if (x=='SPPOA') else 
                   'Special Purpose Open Space-Passive' if (x=='SPPOP') else '0')

In [158]:
df['new_zoning'].value_counts()

Residential Single Family             395327
Residential Multi Family              116529
Mixed Used                             55237
Residential Two Family                  5766
Industrial                              5496
Commercial                              1472
Special Purpose Open Space-Active        868
Special Purpose Institution              366
0                                        211
Special Purpose Airport                   23
Special Purpose Stadium                   16
Special Purpose Entertainment              3
Special Purpose Open Space-Passive         2
Name: new_zoning, dtype: int64

<strong> Crosschecking Category and Building Code </strong>

In [159]:
df['new_zoning']

0         Residential Single Family
1         Residential Single Family
2         Residential Single Family
3         Residential Single Family
4         Residential Single Family
                    ...
581451                   Mixed Used
581452                   Mixed Used
581453                   Mixed Used
581454                   Mixed Used
581455                   Mixed Used
Name: new_zoning, Length: 581316, dtype: object

In [160]:
pd.set_option('display.max_rows',802)
df.groupby('category_code_description')['building_code_description'].value_counts()

category_code_description  building_code_description
Commercial                 STORE 1 STY MASONRY             1549
                           AUTO REPAIR SHOP MASONRY        1109
                           HSE WORSHIP ALL 2 STY MAS        740
                           COM CONDO 1 STY MASONRY          721
                           HSE WORSHIP ALL 1 STY MAS        552
                           STORE 2 STY MASONRY              462
                           STR/OFF 2 STY MASONRY            455
                           STR/OFF 1 STY MASONRY            434
                           MISC DAY CARE MASONRY            353
                           HSE WORSHIP ALL 3 STY MAS        327
                           OFF BLD N/COM W/PKG MASON        294
                           OFF BLD N/PKG N/COM MASON        273
                           SCHOOL 3 STY MASONRY             271
                           REST'RNT W/BAR MASONRY           261
                           STORE 3 STY MASONRY              233
                           OFF BLD COM NO GAR MASON         213
                           STR/OFF 3 STY MASONRY            202
                           SHOP CENT STRIP MASONRY          188
                           PD PKG LOT COMMERCIAL            186
                           AMUSE PRIV CLUB MASONRY          176
                           GAS STAT PUMP+MART MAS           170
                           REST'RNT FASTFOOD MASONRY        162
                           MISC FUNERAL HOME MASONRY        152
                           SCHOOL 2 STY MASONRY             152
                           AMUSE CITY PARK                  148
                           AMUS REC COMPLEX MASONRY         140
                           TAVERN OR BAR MASONRY            122
                           REST'RNT W/O BAR MASONRY         101
                           BANK/OFF 1 STY MASONRY            97
                           CLEANING L'DRY/DR CL MAS          95
                           SCHOOL 4 STY MASONRY              92
                           AMUSE FAIRMOUNT PARK              90
                           AUTO REPAIR SHOP MAS+OTH          86
                           AUTO RETAIL CAR LOT MASON         85
                           MISC FIRE/POLICE MASONRY          83
                           MISC RR STA MASONRY               82
                           AMUSE HALL MASONRY                81
                           AUTO BODY SHOP MASONRY            80
                           HEALTH FAC CLINIC MASONRY         76
                           AMUSE PLAYGROUND                  68
                           STR/OFF 4 STY MASONRY             68
                           PUB UTIL 1 STY MASONRY            64
                           CEMETERY                          62
                           HSE WORSHIP ALL 2 STY M+O         62
                           SHOP CENT N'HOOD MASONRY          62
                           GAR NO COMM AREA MASONRY          61
                           HEALTH FAC PERS CARE MAS          59
                           GAS STAT FULL SRV MASONRY         53
                           HEALTH FAC MED CENT MASON         53
                           MISC LIBRARY MASONRY              52
                           AMUSE PLAYGROUND MASONRY          51
                           AUTO JUNKYARD MASONRY             49
                           STORE 1 STY MASONRY+OTHER         49
                           MISC MUSEUM MASONRY               46
                           GAR W/COMM AREA MASONRY           44
                           HSE WORSHIP ALL 1 STY M+O         44
                           STORE 4 STY MASONRY               44
                           SUPERMKT 1 STY MASONRY            44
                           AUTO DEALER/AGNCY MASONRY         43
                           COM CONDO 1 STY MAS+OTH           42
                           COM CONDO 2 STY MASONRY           42
                           AIR RIGHTS COMMERCIAL             40
                           SCHOOL 3 STY MASONRY+OTH          37
                           AMUSE NITECLB/DISCO MASON         35
                           HEALTH FAC HOSP MASONRY           34
                           SCHOOL 1 STY MASONRY              34
                           AMUSE LODGE MASONRY               33
                           BANK/OFF 2 STY MASONRY            33
                           HEALTH FAC MENTAL MASONRY         33
                           AMUSE THEATRE MASONRY             32
                           HEALTH FAC NURSE HOME MAS         32
                           AMUSE SWIM POOL MASONRY           30
                           AUTO CAR WASH MASONRY             30
                           OFF BLD W/COM GAR MASONRY         28
                           AMUSE FAIRMOUNT PARK MAS          27
                           AUTO PARTS/SUPPLY MASONRY         27
                           AUTO TIRE CENTER MASONRY          26
                           AMUSE FRATERNITIES MASON          25
                           MISC POST OFFICE MASONRY          25
                           STR/OFF 5 STY MASONRY             25
                           HSE WORSHIP ALL 3 STY M+O         23
                           MISC ADMIN BLDG MASONRY           23
                           MISC SEPTA DEPOT MASONRY          23
                           COM CONDO 3 STY MASONRY           22
                           SCHOOL 2 STY MASONRY+OTH          22
                           COM CONDO 3 STY MAS+OTH           21
                           MISC DAY CARE MASONRY+OTH         21
                           MISC POWRHSE/SUBSTA MASON         21
                           MISC YMCA TYPE MASONRY            21
                           SCHOOL 5 STY MASONRY              19
                           HEALTH FAC HOSP MAS+OTH           18
                           PUB UTIL 3 STY MASONRY            18
                           HEALTH FAC LIFE CARE MAS          17
                           OFF BLD W/GARAGE MASONRY          17
                           AMUSE PRIV CLUB MAS+OTH           16
                           COM CONDO 10-14 STY MASON         16
                           COM CONDO 9 STY MASONRY           16
                           GAS STAT PUMP+WASH MAS            16
                           MISC BUS STA MASONRY              16
                           OFF BLD N/COM W/PKG MAS+0         16
                           AMUSE COMM CLUB MASONRY           15
                           AMUSE REC COMPLEX MAS+OTH         15
                           AUTO BODY SHOP MAS+OTHER          15
                           MISC FILT/COMPLEX MASONRY         15
                           SCHOOL 4 STY MASONRY+OTH          15
                           SUB STR/OFF 1 STY MASONRY         15
                           COM CONDO 6 STY MASONRY           14
                           HEALTH FAC MED CENT MAS+O         14
                           HSE WORSHIP ALL 4 STY MAS         14
                           PUB UTIL 2 STY MASONRY            14
                           AMUSE GOLF COURSE                 13
                           AUTO RETAIL CAR LOT MAS+          13
                           GAS STAT PUMP ONLY MAS            13
                           STR/OFF 1 STY MAS+OTHER           13
                           HEALTH FAC CLINIC MAS+OTH         12
                           MISC MUSEUM MASONRY+OTHER         12
                           MISC NOT CODED MASONRY            12
                           SCHOOL 1 STY MASONRY+OTH          12
                           SHOP CENT AREA MASONRY            12
                           HSE WORSHIP ALL 1 STY FRM         11
                           REST'RNT W/BAR MAS+OTHER          11
                           MISC FUNERAL HOME MAS+OTH         10
                           PUB UTIL 1 STY MAS+OTHER          10
                           STR/OFF 2 STY MAS+OTHER           10
                           AMUSE STAD ETC MASONRY             9
                           AUTO DEALER/AGNCY MAS+OTH          9
                           BANK/OFF 3 STY MASONRY             9
                           COM CONDO 4 STY MASONRY            9
                           AMUSE BOWL ALLEY MASONRY           8
                           AMUSE TRANS BLD/TWR METAL          8
                           AUTO RETAIL/REPAIR MAS             8
                           COM CONDO 5 STY MASONRY            8
                           GAR NO COMM AREA MAS+OTH           8
                           HEALTH FAC MASONRY+OTHER           8
                           MISC SEPTA DEPOT MAS+OTH           8
                           OFF BLD N/PKG N/COM MAS+O          8
                           SCHOOL 10-14 STY MASONRY           8
                           STORE 2 STY MASONRY+OTHER          8
                           COM CONDO 20+ STY MASONRY          7
                           MISC RESEARCH MASONRY+OTH          7
                           SCHOOL 5 STY MASONRY+OTH           7
                           SCHOOL 7 STY MASONRY               7
                           SHOP CENT REG'L MASONRY            7
                           AIR RTS/OFF 1 STY MASONRY          6
                           AMUSE TRANS BLD/TWR MASON          6
                           AUTO CAR WASH MASONRY+OTH          6
                           AUTO REPAIR SHOP METAL             6
                           AUTO/VEHICLE BODY SHOP             6
                           BANK/OFF 1 STY MAS+OTHER           6
                           CAR/TRUCK RENTAL MASONRY           6
                           MISC AIR TERM MASONRY              6
                           MISC CORRECTIONAL MASONRY          6
                           MISC MILIT INSTAL MASONRY          6
                           PIERS OPEN MASONRY+OTHER           6
                           SCHOOL 1 STY METAL                 6
                           STORE 5 STY MASONRY                6
                           AMUSE HALL MASONRY+OTHER           5
                           AUTO RETAIL CAR LOT FRAME          5
                           GAS STAT F/S+WASH MASONRY          5
                           GAS STAT PUMP+MART MAS+OT          5
                           HEALTH FAC BLIND/DEAF MAS          5
                           HEALTH FAC MED LAB MASON           5
                           HEALTH FAC MENTAL MAS+OTH          5
                           MISC COURT HOUSE MASONRY           5
                           MISC POWRHSE/SUBSTA MAS+O          5
                           OFF BLD COM NO GAR MAS+OT          5
                           OFF BLD W/GARAGE MAS+OTH           5
                           PKG LOT PRV W/BLDG MASON           5
                           REST'RNT W/O BAR METAL             5
                           SCHOOL 6 STY MASONRY+OTH           5
                           SCHOOL 7 STY MASONRY+OTH           5
                           STORE 2 STY FRAME                  5
                           AMUSE TV/RADIO STA MASON           4
                           COM CONDO 15-19 STY MASON          4
                           COM CONDO 5 STY MAS+OTH            4
                           COM CONDO 8 STY MASONRY            4
                           GAR W/COMM AREA MAS+OTHER          4
                           HEALTH FAC NURSE HOME M+O          4
                           MISC DAY CARE FRAME                4
                           MISC FUNERAL HOME FRAME            4
                           MISC NOT CODED METAL               4
                           MISC POWRHSE/SUBSTA METAL          4
                           MISC RR STA+COMM MAS+OTH           4
                           MISC RR STA+COMM MASONRY           4
                           OFF BLD W/COM &PARK FRAME          4
                           PUB UTIL 1 STY METAL               4
                           PUB UTIL 3 STY MAS+OTHER           4
                           REST'RNT FASTFOOD MAS+OTH          4
                           STR/OFF 3 STY MAS+OTHER            4
                           AMUSE FRATERNITIES MAS+O           3
                           AMUSE MOVIE HOUSE MASONRY          3
                           AMUSE STAD ETC MAS+OTH             3
                           AMUSE THEATRE MASONRY+OTH          3
                           AMUSE TV/RADIO STA MAS+O           3
                           HEALTH FAC REST HOME MAS           3
                           MISC FILT/COMPLEX MAS+OTH          3
                           MISC FIRE/POLICE MAS+OTH           3
                           MISC LIBRARY MASONRY+OTH           3
                           MISC NOT CODED MAS+OTH             3
                           MISC POST OFFICE MAS+OTH           3
                           MISC RESEARCH MASONRY              3
                           PKG LOT COM W/BLDG MASON           3
                           PUB UTIL 4 STY MASONRY             3
                           REST'RNT W/O BAR MAS+OTHE          3
                           SCHOOL 6 STY MASONRY               3
                           SCHOOL 8 STY MASONRY               3
                           SCHOOL 9 STY MASONRY               3
                           SHOP CENT N'HOOD MAS+OTH           3
                           STR/OFF 6 STY MASONRY              3
                           AIR RTS/OFF 2 STY MASONRY          2
                           AMUSE HALL FRAME                   2
                           AMUSE PRIV CLUB FRAME              2
                           AUTO RETAIL/REPAIR MAS+O           2
                           COM CONDO 7 STY MASONRY            2
                           GAR NO COMM AREA METAL             2
                           HEALTH FAC PERS CARE M+O           2
                           HSE WORSHIP ALL 2 STY FRM          2
                           HSE WORSHIP ALL 3 STY FRM          2
                           HSE WORSHIP ALL 5 STY MAS          2
                           MISC GREENHOUSE MASONRY            2
                           OFF BLD N/COM W/PKG METAL          2
                           OFF BLD W/COM AREA METAL           2
                           OFF BLD W/COM GAR MAS+OTH          2
                           PIERS MARINA MASONRY               2
                           PKG LOT COM W/ATT BTH FRM          2
                           PUB UTIL 2 STY MAS+OTHER           2
                           PUB UTIL 6 STY MAS+OTHER           2
                           STORE 1 STY FRAME                  2
                           AMUSE COMM CLUB METAL              1
                           AMUSE REC COMPLEX METAL            1
                           AUTO PARTS/SUPPLY MAS+OTH          1
                           BANK/OFF 4 STY MASONRY             1
                           CLEANING UNIFORM/LINEN MA          1
                           GAR NO COMM AREA FRAME             1
                           HEALTH FAC PERS CARE FRAM          1
                           HSE WORSHIP ALL 4 STY M+O          1
                           MISC AIR TERM MASONRY+OTH          1
                           MISC BUS STA+COMM MASONRY          1
                           MISC NOT CODED FRAME               1
                           MISC RR STA FRAME                  1
                           MISC RR STA METAL                  1
                           OFF BLD COM NO GAR FRAME           1
                           OFF E-COMMERCE MASONRY             1
                           PIER RIGHTS NO PIER                1
                           PIERS CRIBBED MAS+OTHER            1
                           PIERS OPEN FRAME                   1
                           PIERS OPEN MASONRY                 1
                           PKG LOT COM W/BLDG FRAME           1
                           PKG LOT PRV W/ATT BTH FRM          1
                           PKG LOT PRV W/ATT BTH MAS          1
                           PKG LOT PRV W/BLDG FRAME           1
                           PUB UTIL 1 STY FRAME               1
                           PUB UTIL 10-14 STY MASON           1
                           PUB UTIL 15-19 STY MASON           1
                           PUB UTIL 2 STY METAL               1
                           PUB UTIL 5 STY MASONRY             1
                           PUB UTIL 6 STY FRAME               1
                           PUB UTIL 6 STY METAL               1
                           PUB UTIL 7 STY MASONRY             1
                           REST'RNT W/O BAR FRAME             1
                           SCHOOL 2 STY FRAME                 1
                           SCHOOL 9 STY MASONRY+OTH           1
                           SHOP CENT AREA MAS+OTH             1
                           SHOP CENT STRIP MAS+OTHER          1
                           STORE 3 STY MASONRY+OTHER          1
                           STORE 6 STY MASONRY                1
                           STR/OFF 1 STY FRAME                1
                           STR/OFF 4 STY MAS+OTHER            1
                           STR/OFF 7 STY MASONRY              1
                           SUPERMKT 2 STY MASONRY             1
                           SUPERMKT 6 STY MASONRY             1
Industrial                 IND WAREHOUSE MASONRY           2301
                           IND SHOP MASONRY                 409
                           IND WAREHOUSE MASONRY+OTH        396
                           IND. LGHT MFG MASONRY            297
                           IND FACTORY MASONRY              156
                           IND LIGHT MFG MASONRY+OTH        133
                           IND BLDG MINI WHSE MASON         126
                           INDUS CONDO                       97
                           IND SHOP MASONRY+OTHER            88
                           IND LOFT MASONRY                  45
                           IND FACTORY MASONRY+OTHER         37
                           IND TRUCK TERM MASONRY            34
                           IND BLDG MINI WHSE MAS+O          28
                           IND WAREHOUSE METAL               28
                           IND SCRAP METAL YD MASON          20
                           COLD STORAGE WHSE MASONRY         18
                           COLD STORAGE WHSE MAS+OTH         17
                           IND REFINING METAL                14
                           IND TRUCK TERM MAS+OTHER          12
                           IND MILL MASONRY                  11
                           IND REFINING MASONRY+OTH           7
                           IND SHOP METAL                     7
                           IND WAREHOUSE FRAME                7
                           IND LOFT MASONRY+OTHER             6
                           IND LUMBER YARD MASONRY            6
                           IND FOUNDRY MASONRY                5
                           IND REFINING MASONRY               5
                           ASSEMBLY PLANT MASONRY             4
                           IND BLDG INCINERATOR FAC           4
                           IND BLDG RR FREIGHT YARD           4
                           INDUS CONDO 3 STY MASONRY          4
                           MARINE TERMINAL METAL              4
                           ASPHALT, CEMENT PLANTS             3
                           IND BLDG BREWERY MAS+OTH           3
                           IND LUMBER YARD MAS+OTHER          3
                           IND BLDG BREWERY MASONRY           2
                           IND CHEMICAL PLNT MASONRY          2
                           IND FOUNDRY METAL                  2
                           IND LOFT FRAME                     2
                           IND TRUCK TERM METAL               2

In [161]:
def checking(c):
    c = c.str.extractall('([a-zA-Z]+)')
    c.columns=['check']
    b = c.reset_index(drop=True)
    c = b['check'].value_counts()
    
    checking = {'checking':c.index, 'freq':c.values}
    checking = pd.DataFrame(checking)
    checking.index = checking['checking']
    checking.drop('checking',axis=1,inplace=True)
    checking.sort_values('freq',ascending=False,inplace=True)
    return checking

In [162]:
check_1=checking(df[df['category_code']==1]['building_code_description'])
check_2=checking(df[df['category_code']==2]['building_code_description'])
check_3=checking(df[df['category_code']==3]['building_code_description'])
check_4=checking(df[df['category_code']==4]['building_code_description'])
check_5=checking(df[df['category_code']==5]['building_code_description'])
check_6=checking(df[df['category_code']==6]['building_code_description'])

In [163]:
check_1.rename(columns={'freq':'Single Family'},inplace=True)
check_2.rename(columns={'freq':'Multi Family'},inplace=True)
check_3.rename(columns={'freq':'Mixed Use'},inplace=True)
check_4.rename(columns={'freq':'Commercial'},inplace=True)
check_5.rename(columns={'freq':'Industrial'},inplace=True)
check_6.rename(columns={'freq':'Vacant Land'},inplace=True)

In [164]:
check_count = pd.concat([check_1,check_2,check_3,check_4,check_5,check_6],axis=1)
check_count.fillna(0,inplace=True)

In [165]:
check_count

,Single Family,Multi Family,Mixed Use,Commercial,Industrial,Vacant Land
checking,,,,,,
STY,459237.0,37284.0,14396.0,7336.0,4.0,0.0
MASONRY,406197.0,5151.0,6867.0,9618.0,3966.0,0.0
ROW,332555.0,16173.0,7051.0,0.0,0.0,0.0
GAR,177091.0,0.0,0.0,369.0,0.0,0.0
B,145700.0,0.0,797.0,0.0,0.0,0.0
W,66418.0,0.0,6303.0,814.0,0.0,0.0
DET,56920.0,1008.0,218.0,0.0,0.0,0.0
D,51978.0,5318.0,440.0,0.0,0.0,0.0
S,38755.0,5318.0,440.0,5.0,0.0,0.0
CONDO,34656.0,0.0,0.0,932.0,101.0,0.0
RES,32347.0,0.0,0.0,0.0,0.0,0.0
MAS,28329.0,2800.0,197.0,2531.0,65.0,0.0
SEMI,26877.0,0.0,0.0,0.0,0.0,0.0
OTH,15138.0,5.0,46.0,434.0,558.0,0.0
FRAME,13493.0,289.0,33.0,40.0,10.0,0.0
OTHER,12211.0,61.0,0.0,173.0,146.0,0.0
STONE,8800.0,597.0,140.0,0.0,0.0,0.0
PARKING,2273.0,0.0,0.0,0.0,0.0,0.0
SPACE,2273.0,0.0,0.0,0.0,0.0,0.0
MASON,2001.0,33314.0,7154.0,1044.0,146.0,0.0
PRIV,1507.0,0.0,0.0,194.0,0.0,0.0
O,1171.0,1716.0,54.0,281.0,28.0,0.0
OTHE,463.0,0.0,0.0,3.0,0.0,0.0
LOFT,385.0,0.0,0.0,0.0,53.0,0.0
STACKED,52.0,0.0,0.0,0.0,0.0,0.0
PUD,52.0,0.0,0.0,0.0,0.0,0.0
STORAGE,36.0,0.0,0.0,0.0,35.0,0.0
UNIT,36.0,0.0,0.0,0.0,0.0,0.0
STO,30.0,3.0,1.0,0.0,0.0,0.0
AIR,8.0,0.0,0.0,55.0,0.0,0.0
RIGHTS,8.0,0.0,0.0,41.0,0.0,0.0
RESIDENTIAL,8.0,0.0,0.0,0.0,0.0,0.0
DWELL,5.0,0.0,0.0,0.0,0.0,0.0
MISC,5.0,0.0,0.0,1059.0,0.0,0.0
FRM,2.0,10.0,0.0,18.0,0.0,0.0
APT,0.0,37260.0,6687.0,0.0,0.0,0.0
CONV,0.0,22499.0,0.0,0.0,0.0,0.0
UNITS,0.0,19434.0,0.0,0.0,0.0,0.0
APTS,0.0,4972.0,0.0,0.0,0.0,0.0
OT,0.0,328.0,0.0,10.0,0.0,0.0
HOTEL,0.0,164.0,0.0,0.0,0.0,0.0
STON,0.0,154.0,0.0,0.0,0.0,0.0
DORMITORY,0.0,152.0,0.0,0.0,0.0,0.0
HOME,0.0,147.0,0.0,205.0,0.0,0.0
BOARDING,0.0,147.0,0.0,0.0,0.0,0.0
RM,0.0,75.0,0.0,0.0,0.0,0.0
HSE,0.0,75.0,0.0,1780.0,0.0,0.0
FRAM,0.0,62.0,0.0,1.0,0.0,0.0
MA,0.0,21.0,0.0,1.0,0.0,0.0
MOTEL,0.0,7.0,0.0,0.0,0.0,0.0
M,0.0,2.0,0.0,136.0,0.0,0.0
OFF,0.0,0.0,14396.0,2257.0,0.0,0.0
STR,0.0,0.0,14376.0,1232.0,0.0,0.0
STORE,0.0,0.0,20.0,2360.0,0.0,0.0
STN,0.0,0.0,4.0,0.0,0.0,0.0
COM,0.0,0.0,0.0,1786.0,0.0,0.0
WORSHIP,0.0,0.0,0.0,1780.0,0.0,0.0
ALL,0.0,0.0,0.0,1780.0,0.0,0.0
AUTO,0.0,0.0,0.0,1606.0,0.0,0.0
SHOP,0.0,0.0,0.0,1576.0,505.0,0.0
REPAIR,0.0,0.0,0.0,1211.0,0.0,0.0
N,0.0,0.0,0.0,939.0,0.0,0.0
AMUSE,0.0,0.0,0.0,916.0,0.0,0.0
BLD,0.0,0.0,0.0,884.0,0.0,0.0
PKG,0.0,0.0,0.0,793.0,0.0,2002.0
SCHOOL,0.0,0.0,0.0,703.0,0.0,0.0
REST,0.0,0.0,0.0,551.0,0.0,0.0
RNT,0.0,0.0,0.0,548.0,0.0,0.0
BAR,0.0,0.0,0.0,504.0,0.0,0.0
CARE,0.0,0.0,0.0,457.0,0.0,0.0
HEALTH,0.0,0.0,0.0,381.0,0.0,0.0
FAC,0.0,0.0,0.0,381.0,4.0,0.0
DAY,0.0,0.0,0.0,378.0,0.0,0.0
CENT,0.0,0.0,0.0,341.0,0.0,0.0
LOT,0.0,0.0,0.0,303.0,0.0,2084.0
NO,0.0,0.0,0.0,292.0,0.0,82.0
PARK,0.0,0.0,0.0,269.0,0.0,0.0
STAT,0.0,0.0,0.0,262.0,0.0,0.0
GAS,0.0,0.0,0.0,262.0,0.0,0.0
COMMERCIAL,0.0,0.0,0.0,226.0,0.0,2002.0
CLUB,0.0,0.0,0.0,210.0,0.0,0.0
PUMP,0.0,0.0,0.0,204.0,0.0,0.0
STRIP,0.0,0.0,0.0,189.0,0.0,0.0
PD,0.0,0.0,0.0,186.0,0.0,1130.0
MART,0.0,0.0,0.0,175.0,0.0,0.0
COMPLEX,0.0,0.0,0.0,174.0,0.0,0.0
FUNERAL,0.0,0.0,0.0,166.0,0.0,0.0
FASTFOOD,0.0,0.0,0.0,166.0,0.0,0.0
REC,0.0,0.0,0.0,156.0,0.0,0.0
CITY,0.0,0.0,0.0,148.0,0.0,0.0
BANK,0.0,0.0,0.0,146.0,0.0,0.0
CAR,0.0,0.0,0.0,145.0,0.0,82.0
COMM,0.0,0.0,0.0,145.0,0.0,0.0
AMUS,0.0,0.0,0.0,140.0,0.0,0.0
AREA,0.0,0.0,0.0,135.0,0.0,0.0
UTIL,0.0,0.0,0.0,129.0,0.0,0.0
PUB,0.0,0.0,0.0,129.0,0.0,0.0
OR,0.0,0.0,0.0,122.0,0.0,0.0
TAVERN,0.0,0.0,0.0,122.0,0.0,0.0
PLAYGROUND,0.0,0.0,0.0,119.0,0.0,0.0
FAIRMOUNT,0.0,0.0,0.0,117.0,0.0,0.0
STA,0.0,0.0,0.0,116.0,0.0,0.0
RETAIL,0.0,0.0,0.0,113.0,0.0,82.0
L,0.0,0.0,0.0,102.0,0.0,0.0
BODY,0.0,0.0,0.0,101.0,0.0,0.0
CLEANING,0.0,0.0,0.0,96.0,0.0,0.0
CL,0.0,0.0,0.0,95.0,0.0,0.0
DRY,0.0,0.0,0.0,95.0,0.0,0.0
DR,0.0,0.0,0.0,95.0,0.0,0.0
RR,0.0,0.0,0.0,92.0,4.0,0.0
CLINIC,0.0,0.0,0.0,88.0,0.0,0.0
HALL,0.0,0.0,0.0,88.0,0.0,0.0
POLICE,0.0,0.0,0.0,86.0,0.0,0.0
FIRE,0.0,0.0,0.0,86.0,0.0,0.0
MED,0.0,0.0,0.0,72.0,0.0,0.0
HOOD,0.0,0.0,0.0,65.0,0.0,0.0
PERS,0.0,0.0,0.0,62.0,0.0,0.0
CEMETERY,0.0,0.0,0.0,62.0,0.0,0.0
MUSEUM,0.0,0.0,0.0,58.0,0.0,0.0
WASH,0.0,0.0,0.0,57.0,0.0,0.0
LIBRARY,0.0,0.0,0.0,55.0,0.0,0.0
SRV,0.0,0.0,0.0,53.0,0.0,0.0
FULL,0.0,0.0,0.0,53.0,0.0,0.0
HOSP,0.0,0.0,0.0,52.0,0.0,0.0
DEALER,0.0,0.0,0.0,52.0,0.0,0.0
AGNCY,0.0,0.0,0.0,52.0,0.0,0.0
JUNKYARD,0.0,0.0,0.0,49.0,0.0,0.0
METAL,0.0,0.0,0.0,48.0,78.0,0.0
SUPERMKT,0.0,0.0,0.0,46.0,0.0,0.0
MENTAL,0.0,0.0,0.0,38.0,0.0,0.0
NURSE,0.0,0.0,0.0,36.0,0.0,0.0
NITECLB,0.0,0.0,0.0,35.0,0.0,0.0
DISCO,0.0,0.0,0.0,35.0,0.0,0.0
THEATRE,0.0,0.0,0.0,35.0,0.0,0.0
BLDG,0.0,0.0,0.0,33.0,167.0,0.0
LODGE,0.0,0.0,0.0,33.0,0.0,0.0
DEPOT,0.0,0.0,0.0,31.0,0.0,0.0
SEPTA,0.0,0.0,0.0,31.0,0.0,0.0
POOL,0.0,0.0,0.0,30.0,0.0,0.0
SWIM,0.0,0.0,0.0,30.0,0.0,0.0
SUBSTA,0.0,0.0,0.0,30.0,0.0,0.0
POWRHSE,0.0,0.0,0.0,30.0,0.0,0.0
PARTS,0.0,0.0,0.0,28.0,0.0,0.0
SUPPLY,0.0,0.0,0.0,28.0,0.0,0.0
FRATERNITIES,0.0,0.0,0.0,28.0,0.0,0.0
POST,0.0,0.0,0.0,28.0,0.0,0.0
OFFICE,0.0,0.0,0.0,28.0,0.0,0.0
TIRE,0.0,0.0,0.0,26.0,0.0,0.0
CENTER,0.0,0.0,0.0,26.0,0.0,0.0
ADMIN,0.0,0.0,0.0,23.0,0.0,0.0
GARAGE,0.0,0.0,0.0,22.0,0.0,0.0
TYPE,0.0,0.0,0.0,21.0,0.0,0.0
YMCA,0.0,0.0,0.0,21.0,0.0,0.0
CODED,0.0,0.0,0.0,20.0,0.0,0.0
NOT,0.0,0.0,0.0,20.0,0.0,0.0
FILT,0.0,0.0,0.0,18.0,0.0,0.0
LIFE,0.0,0.0,0.0,17.0,0.0,0.0
BUS,0.0,0.0,0.0,17.0,0.0,0.0
SUB,0.0,0.0,0.0,15.0,0.0,0.0
TWR,0.0,0.0,0.0,14.0,0.0,0.0
TRANS,0.0,0.0,0.0,14.0,0.0,0.0
COURSE,0.0,0.0,0.0,13.0,0.0,0.0
GOLF,0.0,0.0,0.0,13.0,0.0,0.0
ONLY,0.0,0.0,0.0,13.0,0.0,0.0
ETC,0.0,0.0,0.0,12.0,0.0,0.0
STAD,0.0,0.0,0.0,12.0,0.0,0.0
PIERS,0.0,0.0,0.0,11.0,0.0,0.0
RESEARCH,0.0,0.0,0.0,10.0,0.0,0.0
BOWL,0.0,0.0,0.0,8.0,0.0,0.0
HOUSE,0.0,0.0,0.0,8.0,0.0,0.0
PRV,0.0,0.0,0.0,8.0,0.0,0.0
OPEN,0.0,0.0,0.0,8.0,0.0,0.0
RTS,0.0,0.0,0.0,8.0,0.0,0.0
ALLEY,0.0,0.0,0.0,8.0,0.0,0.0
REG,0.0,0.0,0.0,7.0,0.0,0.0
RADIO,0.0,0.0,0.0,7.0,0.0,0.0
TV,0.0,0.0,0.0,7.0,0.0,0.0
TERM,0.0,0.0,0.0,7.0,48.0,0.0
INSTAL,0.0,0.0,0.0,6.0,0.0,0.0
VEHICLE,0.0,0.0,0.0,6.0,0.0,0.0
CORRECTIONAL,0.0,0.0,0.0,6.0,0.0,0.0
MILIT,0.0,0.0,0.0,6.0,0.0,0.0
TRUCK,0.0,0.0,0.0,6.0,48.0,0.0
RENTAL,0.0,0.0,0.0,6.0,0.0,0.0
BLIND,0.0,0.0,0.0,5.0,0.0,0.0
DEAF,0.0,0.0,0.0,5.0,0.0,0.0
LAB,0.0,0.0,0.0,5.0,0.0,0.0
F,0.0,0.0,0.0,5.0,0.0,0.0
COURT,0.0,0.0,0.0,5.0,0.0,0.0
ATT,0.0,0.0,0.0,4.0,0.0,0.0
BTH,0.0,0.0,0.0,4.0,0.0,0.0
MOVIE,0.0,0.0,0.0,3.0,0.0,0.0
GREENHOUSE,0.0,0.0,0.0,2.0,0.0,0.0
MARINA,0.0,0.0,0.0,2.0,0.0,0.0
PIER,0.0,0.0,0.0,2.0,0.0,0.0
CRIBBED,0.0,0.0,0.0,1.0,0.0,0.0
UNIFORM,0.0,0.0,0.0,1.0,0.0,0.0
LINEN,0.0,0.0,0.0,1.0,0.0,0.0
E,0.0,0.0,0.0,1.0,0.0,0.0
COMMERCE,0.0,0.0,0.0,1.0,0.0,0.0
IND,0.0,0.0,0.0,0.0,4205.0,0.0
WAREHOUSE,0.0,0.0,0.0,0.0,2732.0,0.0
MFG,0.0,0.0,0.0,0.0,430.0,0.0
LGHT,0.0,0.0,0.0,0.0,297.0,0.0
FACTORY,0.0,0.0,0.0,0.0,194.0,0.0
WHSE,0.0,0.0,0.0,0.0,189.0,0.0
MINI,0.0,0.0,0.0,0.0,154.0,0.0
LIGHT,0.0,0.0,0.0,0.0,133.0,0.0
INDUS,0.0,0.0,0.0,0.0,101.0,0.0
COLD,0.0,0.0,0.0,0.0,35.0,0.0
REFINING,0.0,0.0,0.0,0.0,26.0,0.0
YD,0.0,0.0,0.0,0.0,20.0,0.0
SCRAP,0.0,0.0,0.0,0.0,20.0,0.0
YARD,0.0,0.0,0.0,0.0,13.0,0.0
MILL,0.0,0.0,0.0,0.0,11.0,0.0
LUMBER,0.0,0.0,0.0,0.0,9.0,0.0
FOUNDRY,0.0,0.0,0.0,0.0,7.0,0.0
BREWERY,0.0,0.0,0.0,0.0,5.0,0.0
TERMINAL,0.0,0.0,0.0,0.0,5.0,0.0
MARINE,0.0,0.0,0.0,0.0,5.0,0.0
PLANT,0.0,0.0,0.0,0.0,4.0,0.0
ASSEMBLY,0.0,0.0,0.0,0.0,4.0,0.0
INCINERATOR,0.0,0.0,0.0,0.0,4.0,0.0
FREIGHT,0.0,0.0,0.0,0.0,4.0,0.0
ASPHALT,0.0,0.0,0.0,0.0,3.0,0.0
CEMENT,0.0,0.0,0.0,0.0,3.0,0.0
PLANTS,0.0,0.0,0.0,0.0,3.0,0.0
CHEMICAL,0.0,0.0,0.0,0.0,3.0,0.0
PLNT,0.0,0.0,0.0,0.0,3.0,0.0
VACANT,0.0,0.0,0.0,0.0,0.0,42475.0
LAND,0.0,0.0,0.0,0.0,0.0,42475.0
ACRE,0.0,0.0,0.0,0.0,0.0,42325.0
RESIDE,0.0,0.0,0.0,0.0,0.0,37208.0
COMMER,0.0,0.0,0.0,0.0,0.0,3321.0
NON,0.0,0.0,0.0,0.0,0.0,2002.0
INDUST,0.0,0.0,0.0,0.0,0.0,1796.0
BILLBOARD,0.0,0.0,0.0,0.0,0.0,150.0
BUILD,0.0,0.0,0.0,0.0,0.0,82.0

By skimming two tables above, it seems that the category code was classified using building code description. But, since the data is a lot to check with, we will answer the question using a simple modeling.

In [166]:
text = df['building_code_description']
label = df['category_code_description']

In [167]:
text_train, text_test, y_train, y_test = train_test_split(text, label, stratify=label, random_state=2020)

In [168]:
vect = CountVectorizer().fit(text_train)

In [169]:
x_train = vect.transform(text_train)
x_test = vect.transform(text_test)

In [170]:
feature = vect.get_feature_names_out()

In [171]:
model = LogisticRegression(n_jobs=-1)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [172]:
print(classification_report(y_test, y_pred))

               precision    recall  f1-score   support

   Commercial       0.98      1.00      0.99      3513
   Industrial       1.00      1.00      1.00      1088
    Mixed Use       1.00      0.98      0.99      3599
 Multi Family       1.00      1.00      1.00     10601
Single Family       1.00      1.00      1.00    115388
  Vacant Land       1.00      1.00      1.00     11140

     accuracy                           1.00    145329
    macro avg       1.00      1.00      1.00    145329
 weighted avg       1.00      1.00      1.00    145329

This model proves that building code description can specifically predict which category code the data belongs to. It's very specific that it proves that there are no misclassification of category code in the dataset.

This also confirms that category code is representing the type of the property, not the building. For example, logically, condominium (CONDO) should be classified into multi family if category code represents the building.

In [173]:
df[df['building_code_description'].str.contains('CONDO')].value_counts('category_code_description')

category_code_description
Single Family    34656
Commercial         932
Industrial         101
dtype: int64

Changing the Category Code Description to following.
* Resident
* Hotel and Apartments
* Store and Dwelling
*  Commercial
*  Industrial
*  Vacant Land

In [174]:
dupe = pd.read_csv('./Data/dupe.csv')
dupe.drop(columns=['Unnamed: 0'], inplace=True)
len(dupe)

3634

In [175]:
df_dupe = df[df['location'].isin(dupe['dupe'])]
len(df_dupe)

37692

In [176]:
len(df_dupe)/len(df)*100

6.483908923889932

We have 37692 (6.5% from total) data with duplicate 'location'.

# Crosschecking

In [177]:
df['unit'].dtypes

dtype('O')

In [178]:
df['unit'].nunique()

8761

In [179]:
len(df[df['unit'].notna()])

38717

In [180]:
len(df_dupe[df_dupe['unit'].notna()])/len(df[df['unit'].notna()])*100

96.19546969031691

Most of the data with filled 'unit' value were located in data with duplicate 'location' value (df_dupe).

In [181]:
check = df_dupe[['location','unit','sale_date']].sort_values(by=['location','unit'])
check[0:100]

             location     unit            sale_date
575439  1 ACADEMY CIR  00000P1  2009-08-03 00:00:00
570503  1 ACADEMY CIR  00000P2  2011-08-12 00:00:00
575440  1 ACADEMY CIR  00000P3  2016-04-22 00:00:00
575441  1 ACADEMY CIR  00000P4  2016-07-01 00:00:00
575442  1 ACADEMY CIR  00000P5  2007-01-25 00:00:00
575443  1 ACADEMY CIR  00000P6  2006-11-17 00:00:00
575444  1 ACADEMY CIR  00000P7  2009-09-29 00:00:00
575445  1 ACADEMY CIR  00000P8  2006-10-23 00:00:00
575446  1 ACADEMY CIR  00000P9  2006-10-25 00:00:00
573269  1 ACADEMY CIR  0000101  2019-06-17 00:00:00
573270  1 ACADEMY CIR  0000102  2006-09-07 00:00:00
573271  1 ACADEMY CIR  0000103  2015-12-03 00:00:00
573272  1 ACADEMY CIR  0000104  2008-05-12 00:00:00
573273  1 ACADEMY CIR  0000105  2017-09-18 00:00:00
573274  1 ACADEMY CIR  0000106  2016-11-10 00:00:00
573479  1 ACADEMY CIR  0000107  2008-05-12 00:00:00
573480  1 ACADEMY CIR  0000108  2007-05-16 00:00:00
573481  1 ACADEMY CIR  0000109  2012-06-14 00:00:00
573482  1 ACADEMY CIR  0000110  2017-12-29 00:00:00
573483  1 ACADEMY CIR  0000111  2017-11-18 00:00:00
573484  1 ACADEMY CIR  0000112  2016-12-01 00:00:00
573485  1 ACADEMY CIR  0000113  2017-01-13 00:00:00
573486  1 ACADEMY CIR  0000114  2008-05-12 00:00:00
573487  1 ACADEMY CIR  0000115  2013-06-12 00:00:00
573488  1 ACADEMY CIR  0000116  2013-02-15 00:00:00
573489  1 ACADEMY CIR  0000117  2006-10-24 00:00:00
573490  1 ACADEMY CIR  0000118  2008-05-12 00:00:00
573491  1 ACADEMY CIR  0000119  2006-09-29 00:00:00
573696  1 ACADEMY CIR  0000120  2015-11-02 00:00:00
573697  1 ACADEMY CIR  0000201  2006-09-27 00:00:00
573698  1 ACADEMY CIR  0000202  2012-08-03 00:00:00
573699  1 ACADEMY CIR  0000203  2008-01-17 00:00:00
573700  1 ACADEMY CIR  0000204  2008-05-12 00:00:00
573701  1 ACADEMY CIR  0000205  2020-02-26 00:00:00
573702  1 ACADEMY CIR  0000206  2018-10-26 00:00:00
573703  1 ACADEMY CIR  0000207  2008-05-12 00:00:00
573704  1 ACADEMY CIR  0000208  2007-08-27 00:00:00
573705  1 ACADEMY CIR  0000209  2007-07-10 00:00:00
573706  1 ACADEMY CIR  0000210  2006-10-25 00:00:00
573707  1 ACADEMY CIR  0000211  2006-10-23 00:00:00
573708  1 ACADEMY CIR  0000212  2015-09-30 00:00:00
573910  1 ACADEMY CIR  0000213  2006-11-17 00:00:00
573911  1 ACADEMY CIR  0000214  2019-10-07 00:00:00
573912  1 ACADEMY CIR  0000215  2017-05-15 00:00:00
573913  1 ACADEMY CIR  0000216  2019-11-18 00:00:00
573914  1 ACADEMY CIR  0000217  2006-10-27 00:00:00
573915  1 ACADEMY CIR  0000218  2006-11-20 00:00:00
573916  1 ACADEMY CIR  0000219  2013-12-23 00:00:00
573917  1 ACADEMY CIR  0000220  2018-07-25 00:00:00
573918  1 ACADEMY CIR  0000221  2011-11-12 00:00:00
573919  1 ACADEMY CIR  0000222  2011-09-30 00:00:00
573920  1 ACADEMY CIR  0000301  2017-04-28 00:00:00
573921  1 ACADEMY CIR  0000302  2014-03-21 00:00:00
573922  1 ACADEMY CIR  0000303  2015-08-18 00:00:00
573923  1 ACADEMY CIR  0000304  2014-12-05 00:00:00
574127  1 ACADEMY CIR  0000305  2018-09-28 00:00:00
574128  1 ACADEMY CIR  0000306  2008-05-12 00:00:00
574129  1 ACADEMY CIR  0000307  2019-08-02 00:00:00
574130  1 ACADEMY CIR  0000308  2011-07-22 00:00:00
574131  1 ACADEMY CIR  0000309  2019-06-26 00:00:00
574132  1 ACADEMY CIR  0000310  2016-06-29 00:00:00
574133  1 ACADEMY CIR  0000311  2019-07-18 00:00:00
574134  1 ACADEMY CIR  0000312  2010-08-13 00:00:00
574135  1 ACADEMY CIR  0000313  2020-01-02 00:00:00
574136  1 ACADEMY CIR  0000314  2016-04-22 00:00:00
574137  1 ACADEMY CIR  0000315  2018-07-13 00:00:00
574138  1 ACADEMY CIR  0000316  2019-01-02 00:00:00
574139  1 ACADEMY CIR  0000317  2018-03-12 00:00:00
574140  1 ACADEMY CIR  0000318  2016-10-03 00:00:00
574342  1 ACADEMY CIR  0000319  2020-01-15 00:00:00
574343  1 ACADEMY CIR  0000320  2016-06-11 00:00:00
574344  1 ACADEMY CIR  0000321  2019-05-23 00:00:00
574345  1 ACADEMY CIR  0000322  2011-08-19 00:00:00
574346  1 ACADEMY CIR  0000323  2008-05-12 00:00:00
574347  1 ACADEMY CIR  0000324  2010-05-13 00:00:00
575447  1 ACADEMY CIR  0000P10  2013-05-06 00:00:00
570286  1 ACADEMY CIR  0000P11  2007-08-27 00:00:00
575448  1 ACADEMY CIR  0000P12  2008-05-12 00:00:00
575449  1 ACADEMY CIR  0000P13  2019-05-30 00:00:00
575450  1 ACADEMY CIR  0000P14  2006-10-26 00:00:00
575451  1 ACADEMY CIR  0000P15  2011-06-28 00:00:00
575653  1 ACADEMY CIR  0000P16  2009-08-31 00:00:00
575654  1 ACADEMY CIR  0000P17  2015-11-02 00:00:00
575655  1 ACADEMY CIR  0000P18  2006-09-29 00:00:00
575656  1 ACADEMY CIR  0000P19  2008-05-12 00:00:00
575657  1 ACADEMY CIR  0000P20  2011-09-30 00:00:00
575658  1 ACADEMY CIR  0000P21  2006-10-24 00:00:00
575659  1 ACADEMY CIR  0000P22  2006-10-30 00:00:00
575660  1 ACADEMY CIR  0000P23  2013-12-23 00:00:00
575661  1 ACADEMY CIR  0000P24  2010-05-13 00:00:00
575662  1 ACADEMY CIR  0000P25  2011-04-20 00:00:00
575663  1 ACADEMY CIR  0000P26  2011-08-19 00:00:00
575664  1 ACADEMY CIR  0000P27  2007-02-15 00:00:00
575665  1 ACADEMY CIR  0000P28  2016-06-11 00:00:00
572209  1 ACADEMY CIR  0000P29  2020-01-15 00:00:00
572210  1 ACADEMY CIR  0000P30  2016-10-03 00:00:00
572211  1 ACADEMY CIR  0000P31  2007-09-20 00:00:00
572212  1 ACADEMY CIR  0000P32  2019-01-02 00:00:00
572213  1 ACADEMY CIR  0000P33  2007-01-30 00:00:00
572214  1 ACADEMY CIR  0000P34  2006-11-20 00:00:00

In [182]:
location = []
for i in check['location'].unique():
    unit = []
    for j in check[check['location']==i]['unit']:
        if j not in unit:
            unit.append(j)
        elif j in unit:
            location.append(i)
location

['1100 S CHRIS COLUMBUS BLV',
 '1126-36 ARCH ST',
 '115 SOUTH ST',
 '1341 S CHRIS COLUMBUS BLV',
 '1401 S CHRIS COLUMBUS BLV',
 '1500 JOHN F KENNEDY BLVD',
 '1801 JOHN F KENNEDY BLVD',
 '1801 W HUNTING PARK AVE',
 '2906 S CHRIS COLUMBUS BLV',
 '3701 S CHRIS COLUMBUS BLV',
 '4101 S CHRIS COLUMBUS BLV',
 '4201 WALNUT ST',
 '700 WALNUT LN',
 '7901-03 FRANKFORD AVE',
 '8998 PINE RD',
 '948 N LAWRENCE ST']

In [183]:
len(df_dupe[df_dupe['location'].isin(location)])

33

In [184]:
df_dupe[df_dupe['location'].isin(location)][['location','unit','sale_date']].sort_values(by=['location','unit','sale_date'])

                         location     unit            sale_date
523037  1100 S CHRIS COLUMBUS BLV      NaN  2006-05-08 00:00:00
542296  1100 S CHRIS COLUMBUS BLV      NaN  2011-06-22 00:00:00
498675            1126-36 ARCH ST      NaN  1990-11-09 00:00:00
498676            1126-36 ARCH ST      NaN  1990-11-09 00:00:00
498764               115 SOUTH ST      NaN  1987-06-25 00:00:00
497991               115 SOUTH ST      NaN  2009-04-28 00:00:00
532077  1341 S CHRIS COLUMBUS BLV      NaN  2015-08-24 00:00:00
532075  1341 S CHRIS COLUMBUS BLV      NaN  2019-04-10 00:00:00
531244  1401 S CHRIS COLUMBUS BLV      NaN  2017-12-22 00:00:00
531246  1401 S CHRIS COLUMBUS BLV      NaN  2017-12-22 00:00:00
508850   1500 JOHN F KENNEDY BLVD  000000A  1976-04-01 00:00:00
499488   1500 JOHN F KENNEDY BLVD      NaN  1963-08-01 00:00:00
541622   1500 JOHN F KENNEDY BLVD      NaN  2006-06-07 00:00:00
508859   1801 JOHN F KENNEDY BLVD      NaN  1976-07-06 00:00:00
511010   1801 JOHN F KENNEDY BLVD      NaN  1995-11-30 00:00:00
531783    1801 W HUNTING PARK AVE      NaN  1979-11-05 00:00:00
522119    1801 W HUNTING PARK AVE      NaN  2016-04-04 00:00:00
532707  2906 S CHRIS COLUMBUS BLV      NaN  1993-12-14 00:00:00
532709  2906 S CHRIS COLUMBUS BLV      NaN  1999-07-28 00:00:00
511393  3701 S CHRIS COLUMBUS BLV      NaN  1999-06-01 00:00:00
532913  3701 S CHRIS COLUMBUS BLV      NaN  2007-06-21 00:00:00
511394  4101 S CHRIS COLUMBUS BLV      NaN  1999-06-01 00:00:00
511395  4101 S CHRIS COLUMBUS BLV      NaN  1999-06-01 00:00:00
521898             4201 WALNUT ST      NaN  1999-11-19 00:00:00
521897             4201 WALNUT ST      NaN  1999-12-07 00:00:00
499108              700 WALNUT LN      NaN  1943-01-01 00:00:00
511258              700 WALNUT LN      NaN  1986-11-17 00:00:00
522512      7901-03 FRANKFORD AVE      NaN  1979-11-14 00:00:00
522511      7901-03 FRANKFORD AVE      NaN  1999-11-19 00:00:00
483232               8998 PINE RD      NaN  1987-01-15 00:00:00
483233               8998 PINE RD      NaN  2002-03-21 00:00:00
34058           948 N LAWRENCE ST      NaN  2010-07-22 00:00:00
34059           948 N LAWRENCE ST      NaN  2010-09-01 00:00:00

# Sale Date

In [185]:
df['sale_date'].dtypes

dtype('O')

In [186]:
df = df.astype({'sale_date':'datetime64[ns]'})

In [187]:
df['sale_year'] = df['sale_date'].dt.year

# Grouping

In [188]:
df['sale_year_group']=df['sale_year'].apply(lambda x: '2020-2016' if (x<=2020) & (x>2015) else 
                    '2015-2011' if (x<=2015) & (x>2010) else '2010-2006' if (x<=2010) & (x>2005) else
                    '2005-2001' if (x<=2005) & (x>2000) else '2000-1996' if (x<=2000) & (x>1995) else
                    '1995-1991' if (x<=1995) & (x>1990) else '1990-1986' if (x<=1990) & (x>1985) else
                    '1985-1981' if (x<=1985) & (x>1980) else '1980-1976' if (x<=1980) & (x>1975) else
                    '1975-1971' if (x<=1975) & (x>1970) else '1970-1966' if (x<=1970) & (x>1965) else
                    '1965-1961' if (x<=1965) & (x>1960) else '1960-1956' if (x<=1960) & (x>1955) else
                    '1955-1951' if (x<=1955) & (x>1950) else '1950-1946' if (x<=1950) & (x>1945) else
                    '1945-1941' if (x<=1945) & (x>1940) else '1940-1936' if (x<=1940) & (x>1935) else
                    '1935-1931' if (x<=1935) & (x>1930) else '1930-1926' if (x<=1930) & (x>1925) else
                    '1925-1921' if (x<=1925) & (x>1920) else '1920-1916' if (x<=1920) & (x>1915) else
                    '1915-1911' if (x<=1915) & (x>1910) else '0')

In [189]:
df['sale_year_group'].value_counts()

2020-2016    141204
2015-2011    100176
2010-2006     85447
2005-2001     76258
2000-1996     48357
1995-1991     30222
1990-1986     24689
1985-1981     19135
1980-1976     15103
1970-1966     12542
1975-1971     12140
1965-1961      5573
1960-1956      4017
1955-1951      2314
1945-1941      1721
1950-1946      1236
1940-1936       312
1925-1921       261
1930-1926       249
1920-1916       181
1935-1931       145
0                34
Name: sale_year_group, dtype: int64

# Street Designation

In [190]:
df['street_designation'].dtypes

dtype('O')

In [191]:
df['street_designation'].unique()

array(['ST ', 'AVE', 'SQ ', 'TER', 'CT ', 'WAY', 'BLV', 'PKY', 'LA ',
       'RD ', 'ALY', 'WLK', 'MEW', 'PL ', 'CIR', 'PK ', 'DR ', 'HTS',
       'ML ', 'ROW', 'PLZ', 'LN ', 'PTH', nan, 'EXP'], dtype=object)

In [192]:
df['street_designation'].isna().sum()

5

In [193]:
df[df['street_designation'].isna()][['mailing_street']]

                  mailing_street
531164  1401 JOHN F KENNEDY BLVD
536697       3460 N DELAWARE AVE
537072  1401 JOHN F KENNEDY BLVD
538328  1401 JOHN F KENNEDY BLVD
538329  1401 JOHN F KENNEDY BLVD

In [194]:
def lastwords(x):
    lastword = []
    for i in x:
        i = i.split(' ')
        j = i[-1]
        lastword.append(j)
    return lastword

In [195]:
index = df[df['street_designation'].isna()].index
lastwords(df.loc[index,'mailing_street'])

['BLVD', 'AVE', 'BLVD', 'BLVD', 'BLVD']

In [196]:
df.loc[index,'street_designation']=lastwords(df.loc[index,'mailing_street'])

In [197]:
df['street_designation'].isna().sum()

0

In [198]:
df.loc[index,'street_designation']

531164    BLVD
536697     AVE
537072    BLVD
538328    BLVD
538329    BLVD
Name: street_designation, dtype: object

In [199]:
index = df[df['street_designation']=='BLVD'].index
df.loc[index,'street_designation']='BLV'

# Unique Values' Explanation

<b> Unfinished </b>

In [200]:
df['unfinished'].dtypes

dtype('O')

In [201]:
df['unfinished'].value_counts()

U    2890
Name: unfinished, dtype: int64

In [202]:
df['unfinished'].fillna('F',inplace=True)

In [203]:
df['unfinished'].value_counts()

F    578426
U      2890
Name: unfinished, dtype: int64

# Zip Code

In [204]:
df['zip_code'].dtypes

dtype('O')

For classification of the property based on location, we only use the first 5 digits of zip code.

In [205]:
df['zip_code']=df['zip_code'].apply(lambda x: str(x)[:5])

In [206]:
df['zip_code']

0         19147
1         19147
2         19147
3         19147
4         19147
          ...
581451    19103
581452    19103
581453    19103
581454    19103
581455    19103
Name: zip_code, Length: 581316, dtype: object

In [207]:
df['zip_code'].nunique()

52

In [208]:
df['zip_code'].value_counts()

19134    25667
19143    25479
19124    23171
19140    22824
19120    21605
19148    21357
19132    20663
19146    20535
19111    19181
19145    18635
19149    18494
19147    16766
19121    16591
19139    16463
19131    14906
19133    14470
19128    13751
19144    13509
19138    12755
19125    12692
19135    12124
19104    11834
19154    11540
19142    11422
19151    11365
19136    11244
19130    10867
19115    10526
19152    10406
19116    10401
19114    10367
19141    10115
19119     9763
19150     9243
19122     8637
19103     7841
19106     6854
19123     6785
19126     5067
19107     4641
19153     4223
19129     4181
19137     3987
19127     3138
19118     2979
19102     2155
19112       80
19113        4
19108        4
19109        4
nan          3
19110        2
Name: zip_code, dtype: int64

In [209]:
df['zip_code']=df['zip_code'].apply(lambda x: np.nan if x=='nan' else x)

In [210]:
df['zip_code'].isna().sum()

3

In [211]:
df[df['zip_code'].isna()]['location']

85849     1000R MOUNT VERNON ST
332010    1434-36 N CARLISLE ST
527675          1629 WALLACE ST
Name: location, dtype: object

<strong> 1000R MOUNT VERNON ST </strong>

In [212]:
df[df['location']=='1000R MOUNT VERNON ST']

,basements,building_code,building_code_description,category_code,category_code_description,central_air,depth,exterior_condition,fireplaces,frontage,...,type_heater,unfinished,unit,view_type,year_built,zip_code,zoning,new_zoning,sale_year,sale_year_group
85849,NaN,SR,VACANT LAND RESIDE < ACRE,6,Vacant Land,NaN,174.37,0.0,0.0,86.27,...,NaN,F,NaN,I,0000,NaN,RM1,Residential Multi Family,2018.0,2020-2016

In [213]:
df[df['location'].str.contains('VERNON')][['location','zip_code']]

                    location zip_code
49226   1608 MOUNT VERNON ST    19130
49227   1610 MOUNT VERNON ST    19130
49228   1614 MOUNT VERNON ST    19130
49229   1616 MOUNT VERNON ST    19130
49230   1620 MOUNT VERNON ST    19130
...                      ...      ...
578402  2013 MOUNT VERNON ST    19130
578701   923 MOUNT VERNON ST    19123
578702   925 MOUNT VERNON ST    19123
578703   927 MOUNT VERNON ST    19123
578704   929 MOUNT VERNON ST    19123

[976 rows x 2 columns]

In [214]:
df[df['location']=='1000 MOUNT VERNON ST']['zip_code']

85848    19123
85850    19123
85851    19123
85852    19123
85853    19123
85854    19123
Name: zip_code, dtype: object

In [215]:
index=df[df['location']=='1000R MOUNT VERNON ST'].index
df.loc[index,'zip_code']=19123

<b> 1434-36 N CARLISLE ST </b>

In [216]:
df[df['location']=='1434-36 N CARLISLE ST']

,basements,building_code,building_code_description,category_code,category_code_description,central_air,depth,exterior_condition,fireplaces,frontage,...,type_heater,unfinished,unit,view_type,year_built,zip_code,zoning,new_zoning,sale_year,sale_year_group
332010,A,W50,APT 2-4 UNITS 3 STY MASON,2,Multi Family,Y,55.67,1.0,0.0,40.0,...,A,F,NaN,I,2012,NaN,RM1,Residential Multi Family,2012.0,2015-2011

In [217]:
df[df['location'].str.contains('N CARLISLE ST')]['location'].unique()

array(['6724 N CARLISLE ST', '6726 N CARLISLE ST', '6728 N CARLISLE ST',
       '6730 N CARLISLE ST', '6732 N CARLISLE ST', '6734 N CARLISLE ST',
       '6736 N CARLISLE ST', '6738 N CARLISLE ST', '6740 N CARLISLE ST',
       '6810 N CARLISLE ST', '6812 N CARLISLE ST', '6814 N CARLISLE ST',
       '6816 N CARLISLE ST', '6818 N CARLISLE ST', '6820 N CARLISLE ST',
       '6822 N CARLISLE ST', '6824 N CARLISLE ST', '6713 N CARLISLE ST',
       '6715 N CARLISLE ST', '6717-19 N CARLISLE ST',
       '6721 N CARLISLE ST', '6723 N CARLISLE ST', '6725 N CARLISLE ST',
       '6727 N CARLISLE ST', '6729 N CARLISLE ST', '6731 N CARLISLE ST',
       '6733 N CARLISLE ST', '6735 N CARLISLE ST', '6737 N CARLISLE ST',
       '6739 N CARLISLE ST', '6741 N CARLISLE ST', '6811 N CARLISLE ST',
       '6813 N CARLISLE ST', '6815 N CARLISLE ST', '6817 N CARLISLE ST',
       '6819 N CARLISLE ST', '6821 N CARLISLE ST', '6710 N CARLISLE ST',
       '6712 N CARLISLE ST', '6714 N CARLISLE ST', '6716 N CARLISLE ST',
       '6718 N CARLISLE ST', '6720 N CARLISLE ST', '6722 N CARLISLE ST',
       '3041 N CARLISLE ST', '3043 N CARLISLE ST', '3045 N CARLISLE ST',
       '3047 N CARLISLE ST', '3049 N CARLISLE ST', '3109 N CARLISLE ST',
       '3111 N CARLISLE ST', '3113 N CARLISLE ST', '3115 N CARLISLE ST',
       '3117 N CARLISLE ST', '3119 N CARLISLE ST', '3121 N CARLISLE ST',
       '3123 N CARLISLE ST', '3125 N CARLISLE ST', '3127 N CARLISLE ST',
       '3129 N CARLISLE ST', '3131 N CARLISLE ST', '3133 N CARLISLE ST',
       '3135 N CARLISLE ST', '3137 N CARLISLE ST', '3139 N CARLISLE ST',
       '3141 N CARLISLE ST', '3143 N CARLISLE ST', '3145 N CARLISLE ST',
       '3147 N CARLISLE ST', '3149 N CARLISLE ST', '3151 N CARLISLE ST',
       '3153 N CARLISLE ST', '3155 N CARLISLE ST', '3157 N CARLISLE ST',
       '3040 N CARLISLE ST', '3042 N CARLISLE ST', '3044 N CARLISLE ST',
       '3046 N CARLISLE ST', '3048 N CARLISLE ST', '3112 N CARLISLE ST',
       '3114 N CARLISLE ST', '3116 N CARLISLE ST', '3118 N CARLISLE ST',
       '3120 N CARLISLE ST', '3122 N CARLISLE ST', '3124 N CARLISLE ST',
       '3126 N CARLISLE ST', '3128 N CARLISLE ST', '3130 N CARLISLE ST',
       '3132 N CARLISLE ST', '3134 N CARLISLE ST', '3136 N CARLISLE ST',
       '3138 N CARLISLE ST', '3140 N CARLISLE ST', '3142 N CARLISLE ST',
       '3144 N CARLISLE ST', '3146 N CARLISLE ST', '3148 N CARLISLE ST',
       '3150 N CARLISLE ST', '3152 N CARLISLE ST', '3154 N CARLISLE ST',
       '3156 N CARLISLE ST', '3223 N CARLISLE ST', '3225 N CARLISLE ST',
       '3227 N CARLISLE ST', '3229 N CARLISLE ST', '3231 N CARLISLE ST',
       '3233 N CARLISLE ST', '3235 N CARLISLE ST', '3237 N CARLISLE ST',
       '3239 N CARLISLE ST', '3241 N CARLISLE ST', '3243 N CARLISLE ST',
       '3245 N CARLISLE ST', '3247 N CARLISLE ST', '3439 N CARLISLE ST',
       '3441 N CARLISLE ST', '3443 N CARLISLE ST', '3445 N CARLISLE ST',
       '3447 N CARLISLE ST', '3449 N CARLISLE ST', '3212 N CARLISLE ST',
       '3214 N CARLISLE ST', '3216 N CARLISLE ST', '3218 N CARLISLE ST',
       '3220 N CARLISLE ST', '3222 N CARLISLE ST', '3224 N CARLISLE ST',
       '3226 N CARLISLE ST', '3228 N CARLISLE ST', '3230 N CARLISLE ST',
       '3232 N CARLISLE ST', '3234 N CARLISLE ST', '3236 N CARLISLE ST',
       '3238 N CARLISLE ST', '3240 N CARLISLE ST', '3242 N CARLISLE ST',
       '3244 N CARLISLE ST', '3246 N CARLISLE ST', '3248 N CARLISLE ST',
       '3250 N CARLISLE ST', '3252 N CARLISLE ST', '3254 N CARLISLE ST',
       '3256 N CARLISLE ST', '3258 N CARLISLE ST', '3260 N CARLISLE ST',
       '3438 N CARLISLE ST', '3440 N CARLISLE ST', '3442 N CARLISLE ST',
       '3444 N CARLISLE ST', '3446 N CARLISLE ST', '3448 N CARLISLE ST',
       '3506 N CARLISLE ST', '3508 N CARLISLE ST', '3510 N CARLISLE ST',
       '3512 N CARLISLE ST', '3514 N CARLISLE ST', '3516 N CARLISLE ST',
       '3518 N CARLISLE ST', '3520 N CARLISLE ST', '3522 N CARLISLE ST',
       '3524 N CARLISLE ST', '3526 N CARLISLE ST', '3528 N CARLISLE ST',
       '3530 N CARLISLE ST', '3532 N CARLISLE ST', '3534 N CARLISLE ST',
       '3536 N CARLISLE ST', '3538 N CARLISLE ST', '3540 N CARLISLE ST',
       '3542 N CARLISLE ST', '3211 N CARLISLE ST', '3213 N CARLISLE ST',
       '3215 N CARLISLE ST', '3217 N CARLISLE ST', '3219 N CARLISLE ST',
       '3221 N CARLISLE ST', '3728 N CARLISLE ST', '3730 N CARLISLE ST',
       '3732 N CARLISLE ST', '3734 N CARLISLE ST', '3736 N CARLISLE ST',
       '3738 N CARLISLE ST', '3740 N CARLISLE ST', '3742 N CARLISLE ST',
       '3744 N CARLISLE ST', '3746 N CARLISLE ST', '3748 N CARLISLE ST',
       '3750 N CARLISLE ST', '3711 N CARLISLE ST', '3713 N CARLISLE ST',
       '3715 N CARLISLE ST', '3717 N CARLISLE ST', '3719 N CARLISLE ST',
       '3721 N CARLISLE ST', '3723 N CARLISLE ST', '3725 N CARLISLE ST',
       '3727 N CARLISLE ST', '3729 N CARLISLE ST', '3731 N CARLISLE ST',
       '3733 N CARLISLE ST', '3735 N CARLISLE ST', '3710 N CARLISLE ST',
       '3712 N CARLISLE ST', '3714 N CARLISLE ST', '3716 N CARLISLE ST',
       '3718 N CARLISLE ST', '3720 N CARLISLE ST', '3722 N CARLISLE ST',
       '3724 N CARLISLE ST', '3726 N CARLISLE ST', '4540 N CARLISLE ST',
       '4542 N CARLISLE ST', '4544 N CARLISLE ST', '4546 N CARLISLE ST',
       '4548 N CARLISLE ST', '4550 N CARLISLE ST', '4702 N CARLISLE ST',
       '4704 N CARLISLE ST', '4726 N CARLISLE ST', '4728 N CARLISLE ST',
       '4730 N CARLISLE ST', '4732 N CARLISLE ST', '4734 N CARLISLE ST',
       '4736 N CARLISLE ST', '4738 N CARLISLE ST', '4740 N CARLISLE ST',
       '4742 N CARLISLE ST', '4744 N CARLISLE ST', '4746 N CARLISLE ST',
       '4748 N CARLISLE ST', '4750 N CARLISLE ST', '4752 N CARLISLE ST',
       '4754 N CARLISLE ST', '4810 N CARLISLE ST', '4812 N CARLISLE ST',
       '4814 N CARLISLE ST', '4816 N CARLISLE ST', '4818 N CARLISLE ST',
       '4820 N CARLISLE ST', '4822 N CARLISLE ST', '4824 N CARLISLE ST',
       '4826 N CARLISLE ST', '4828 N CARLISLE ST', '4830 N CARLISLE ST',
       '4832 N CARLISLE ST', '4834 N CARLISLE ST',
       '4836-38 N CARLISLE ST', '4840 N CARLISLE ST',
       '4842 N CARLISLE ST', '4844 N CARLISLE ST', '4846 N CARLISLE ST',
       '4848 N CARLISLE ST', '4850 N CARLISLE ST', '4852 N CARLISLE ST',
       '4908 N CARLISLE ST', '4910 N CARLISLE ST', '4912 N CARLISLE ST',
       '4914 N CARLISLE ST', '4916 N CARLISLE ST', '4928 N CARLISLE ST',
       '4930 N CARLISLE ST', '4932 N CARLISLE ST', '4934 N CARLISLE ST',
       '4936 N CARLISLE ST', '4309 N CARLISLE ST', '4501 N CARLISLE ST',
       '4503 N CARLISLE ST', '4505 N CARLISLE ST', '4507 N CARLISLE ST',
       '4509 N CARLISLE ST', '4511 N CARLISLE ST', '4513 N CARLISLE ST',
       '4515 N CARLISLE ST', '4517 N CARLISLE ST', '4519 N CARLISLE ST',
       '4521 N CARLISLE ST', '4523 N CARLISLE ST', '4525 N CARLISLE ST',
       '4527 N CARLISLE ST', '4529 N CARLISLE ST', '4531 N CARLISLE ST',
       '4533 N CARLISLE ST', '4535 N CARLISLE ST', '4537 N CARLISLE ST',
       '4539 N CARLISLE ST', '4541 N CARLISLE ST', '4543 N CARLISLE ST',
       '4545 N CARLISLE ST', '4547 N CARLISLE ST', '4549 N CARLISLE ST',
       '4551 N CARLISLE ST', '4811 N CARLISLE ST', '4813 N CARLISLE ST',
       '4815 N CARLISLE ST', '4817 N CARLISLE ST', '4819 N CARLISLE ST',
       '4821 N CARLISLE ST', '4823 N CARLISLE ST', '4825 N CARLISLE ST',
       '4827 N CARLISLE ST', '4829 N CARLISLE ST', '4831 N CARLISLE ST',
       '4833 N CARLISLE ST', '4835 N CARLISLE ST', '4849 N CARLISLE ST',
       '4851 N CARLISLE ST', '4853 N CARLISLE ST', '4915 N CARLISLE ST',
       '4917 N CARLISLE ST', '4919 N CARLISLE ST', '4921 N CARLISLE ST',
       '4923 N CARLISLE ST', '4925 N CARLISLE ST', '4927 N CARLISLE ST',
       '4929 N CARLISLE ST', '4931 N CARLISLE ST', '4933 N CARLISLE ST',
       '4935 N CARLISLE ST', '4937 N CARLISLE ST', '4226 N CARLISLE ST',
       '4228 N CARLISLE ST', '4230 N CARLISLE ST', '4232 N CARLISLE ST',
       '4234 N CARLISLE ST', '4236 N CARLISLE ST', '4238 N CARLISLE ST',
       '4240 N CARLISLE ST', '4242 N CARLISLE ST', '4244 N CARLISLE ST',
       '4246 N CARLISLE ST', '4248 N CARLISLE ST', '4250 N CARLISLE ST',
       '4252 N CARLISLE ST', '4310 N CARLISLE ST', '4312 N CARLISLE ST',
       '4314 N CARLISLE ST', '4316 N CARLISLE ST', '4318 N CARLISLE ST',
       '4320 N CARLISLE ST', '4322 N CARLISLE ST', '4324 N CARLISLE ST',
       '4326 N CARLISLE ST', '4328-30 N CARLISLE ST',
       '4332 N CARLISLE ST', '4334 N CARLISLE ST', '4336 N CARLISLE ST',
       '4338 N CARLISLE ST', '4340 N CARLISLE ST', '4500 N CARLISLE ST',
       '4502 N CARLISLE ST', '4504 N CARLISLE ST', '4506 N CARLISLE ST',
       '4508 N CARLISLE ST', '4510 N CARLISLE ST', '4512 N CARLISLE ST',
       '4514 N CARLISLE ST', '4516 N CARLISLE ST', '4518 N CARLISLE ST',
       '4520 N CARLISLE ST', '4522 N CARLISLE ST', '4524 N CARLISLE ST',
       '4526 N CARLISLE ST', '4528 N CARLISLE ST', '4530 N CARLISLE ST',
       '4532 N CARLISLE ST', '4534 N CARLISLE ST', '4536 N CARLISLE ST',
       '4538 N CARLISLE ST', '852 N CARLISLE ST', '854 N CARLISLE ST',
       '858 N CARLISLE ST', '2217 N CARLISLE ST', '2219 N CARLISLE ST',
       '2221 N CARLISLE ST', '2223 N CARLISLE ST', '2225 N CARLISLE ST',
       '2227 N CARLISLE ST', '2229 N CARLISLE ST', '2231 N CARLISLE ST',
       '2255-57 N CARLISLE ST', '2307 N CARLISLE ST',
       '2309 N CARLISLE ST', '2311 N CARLISLE ST', '2313 N CARLISLE ST',
       '2315 N CARLISLE ST', '2317 N CARLISLE ST', '2319 N CARLISLE ST',
       '2321 N CARLISLE ST', '2323 N CARLISLE ST', '2325 N CARLISLE ST',
       '2327 N CARLISLE ST', '2329 N CARLISLE ST', '2331 N CARLISLE ST',
       '2333 N CARLISLE ST', '2335 N CARLISLE ST', '2337 N CARLISLE ST',
       '2339 N CARLISLE ST', '2341 N CARLISLE ST', '2343 N CARLISLE ST',
       '2345 N CARLISLE ST', '2349 N CARLISLE ST', '2351 N CARLISLE ST',
       '2353 N CARLISLE ST', '2355 N CARLISLE ST', '2403 N CARLISLE ST',
       '2405 N CARLISLE ST', '2407 N CARLISLE ST', '2409 N CARLISLE ST',
       '2411 N CARLISLE ST', '2413 N CARLISLE ST', '2415 N CARLISLE ST',
       '2417 N CARLISLE ST', '2419 N CARLISLE ST', '2421 N CARLISLE ST',
       '2423 N CARLISLE ST', '2425 N CARLISLE ST', '2427 N CARLISLE ST',
       '2429 N CARLISLE ST', '2431 N CARLISLE ST', '2433 N CARLISLE ST',
       '2435 N CARLISLE ST', '2437 N CARLISLE ST', '2439 N CARLISLE ST',
       '2441 N CARLISLE ST', '2443 N CARLISLE ST', '2445 N CARLISLE ST',
       '2447 N CARLISLE ST', '2449 N CARLISLE ST', '2451 N CARLISLE ST',
       '2453 N CARLISLE ST', '2455 N CARLISLE ST', '2457 N CARLISLE ST',
       '2459 N CARLISLE ST', '2226 N CARLISLE ST', '2228 N CARLISLE ST',
       '2234 N CARLISLE ST', '2236 N CARLISLE ST', '2238 N CARLISLE ST',
       '2240 N CARLISLE ST', '2242 N CARLISLE ST', '2244 N CARLISLE ST',
       '2246 N CARLISLE ST', '2248 N CARLISLE ST', '2250 N CARLISLE ST',
       '2252 N CARLISLE ST', '2254 N CARLISLE ST', '2256 N CARLISLE ST',
       '2302 N CARLISLE ST', '2304 N CARLISLE ST', '2306 N CARLISLE ST',
       '2308 N CARLISLE ST', '2310 N CARLISLE ST', '2312 N CARLISLE ST',
       '2314 N CARLISLE ST', '2318 N CARLISLE ST', '2320 N CARLISLE ST',
       '2322 N CARLISLE ST', '2324 N CARLISLE ST', '2326 N CARLISLE ST',
       '2328 N CARLISLE ST', '2330 N CARLISLE ST', '2332 N CARLISLE ST',
       '2334 N CARLISLE ST', '2336 N CARLISLE ST', '2338 N CARLISLE ST',
       '2340 N CARLISLE ST', '2342 N CARLISLE ST', '2344 N CARLISLE ST',
       '2346 N CARLISLE ST', '2348 N CARLISLE ST', '2350 N CARLISLE ST',
       '2412 N CARLISLE ST', '2414 N CARLISLE ST', '2416 N CARLISLE ST',
       '2418 N CARLISLE ST', '2420 N CARLISLE ST', '2422 N CARLISLE ST',
       '2424 N CARLISLE ST', '2426 N CARLISLE ST', '2347 N CARLISLE ST',
       '5112 N CARLISLE ST', '5114 N CARLISLE ST', '5116 N CARLISLE ST',
       '5118 N CARLISLE ST', '5120 N CARLISLE ST', '5122 N CARLISLE ST',
       '5124 N CARLISLE ST', '5126 N CARLISLE ST', '5128 N CARLISLE ST',
       '5130 N CARLISLE ST', '5132 N CARLISLE ST', '5134 N CARLISLE ST',
       '5136 N CARLISLE ST', '5138 N CARLISLE ST', '5140 N CARLISLE ST',
       '5142 N CARLISLE ST', '5144 N CARLISLE ST', '5146 N CARLISLE ST',
       '5200 N CARLISLE ST', '5202 N CARLISLE ST', '5204 N CARLISLE ST',
       '5206 N CARLISLE ST', '5208 N CARLISLE ST', '5210 N CARLISLE ST',
       '5212 N CARLISLE ST', '5214 N CARLISLE ST', '5216 N CARLISLE ST',
       '5218 N CARLISLE ST', '5220 N CARLISLE ST', '5222 N CARLISLE ST',
       '5224 N CARLISLE ST', '5226 N CARLISLE ST', '5228 N CARLISLE ST',
       '5230 N CARLISLE ST', '5232 N CARLISLE ST', '5234 N CARLISLE ST',
       '5236 N CARLISLE ST', '5238 N CARLISLE ST', '5240 N CARLISLE ST',
       '5242 N CARLISLE ST', '5244 N CARLISLE ST', '5246 N CARLISLE ST',
       '5312 N CARLISLE ST', '5314 N CARLISLE ST', '5316 N CARLISLE ST',
       '5318 N CARLISLE ST', '5320 N CARLISLE ST', '5322 N CARLISLE ST',
       '5324 N CARLISLE ST', '5326 N CARLISLE ST', '5328 N CARLISLE ST',
       '5330 N CARLISLE ST', '5332 N CARLISLE ST', '5334 N CARLISLE ST',
       '5336 N CARLISLE ST', '5338 N CARLISLE ST', '5340 N CARLISLE ST',
       '5342 N CARLISLE ST', '5344 N CARLISLE ST', '5346 N CARLISLE ST',
       '5113 N CARLISLE ST', '5311 N CARLISLE ST', '5313 N CARLISLE ST',
       '5315 N CARLISLE ST', '5317 N CARLISLE ST', '5319 N CARLISLE ST',
       '5321 N CARLISLE ST', '5323 N CARLISLE ST', '5325 N CARLISLE ST',
       '5327 N CARLISLE ST', '5329 N CARLISLE ST', '5331 N CARLISLE ST',
       '5333 N CARLISLE ST', '5335 N CARLISLE ST', '5337 N CARLISLE ST',
       '5339 N CARLISLE ST', '5341 N CARLISLE ST', '5343 N CARLISLE ST',
       '5345 N CARLISLE ST', '5100 N CARLISLE ST', '5102 N CARLISLE ST',
       '5104 N CARLISLE ST', '5106 N CARLISLE ST', '5108 N CARLISLE ST',
       '5110 N CARLISLE ST', '2039 N CARLISLE ST', '2041 N CARLISLE ST',
       '2043 N CARLISLE ST', '2045 N CARLISLE ST', '2047 N CARLISLE ST',
       '2049 N CARLISLE ST', '2051 N CARLISLE ST', '2010 N CARLISLE ST',
       '2012 N CARLISLE ST', '2014 N CARLISLE ST', '2016 N CARLISLE ST',
       '2018 N CARLISLE ST', '2020 N CARLISLE ST', '2022 N CARLISLE ST',
       '2024 N CARLISLE ST', '2026 N CARLISLE ST', '2028 N CARLISLE ST',
       '2030 N CARLISLE ST', '2032 N CARLISLE ST', '2034 N CARLISLE ST',
       '2036 N CARLISLE ST', '2038 N CARLISLE ST', '2040 N CARLISLE ST',
       '2042 N CARLISLE ST', '2044 N CARLISLE ST', '2046 N CARLISLE ST',
       '2048 N CARLISLE ST', '2050 N CARLISLE ST', '2116 N CARLISLE ST',
       '2118 N CARLISLE ST', '2120 N CARLISLE ST', '2122 N CARLISLE ST',
       '2124 N CARLISLE ST', '2126 N CARLISLE ST', '2128 N CARLISLE ST',
       '2130 N CARLISLE ST', '2132 N CARLISLE ST', '2134 N CARLISLE ST',
       '2136 N CARLISLE ST', '2138 N CARLISLE ST', '2140 N CARLISLE ST',
       '2142 N CARLISLE ST', '2144 N CARLISLE ST', '2146 N CARLISLE ST',
       '2148 N CARLISLE ST', '2150 N CARLISLE ST', '2152 N CARLISLE ST',
       '2154 N CARLISLE ST', '2156 N CARLISLE ST', '2013 N CARLISLE ST',
       '2015 N CARLISLE ST', '2017 N CARLISLE ST', '2019 N CARLISLE ST',
       '2021 N CARLISLE ST', '2023 N CARLISLE ST', '2027 N CARLISLE ST',
       '2031 N CARLISLE ST', '2033 N CARLISLE ST', '2035 N CARLISLE ST',
       '2037 N CARLISLE ST', '900 N CARLISLE ST', '902 N CARLISLE ST',
       '904 N CARLISLE ST', '1214 N CARLISLE ST', '1216 N CARLISLE ST',
       '1218 N CARLISLE ST', '1220 N CARLISLE ST', '1222 N CARLISLE ST',
       '1224 N CARLISLE ST', '1226 N CARLISLE ST', '1228 N CARLISLE ST',
       '1230 N CARLISLE ST', '1232 N CARLISLE ST', '1242 N CARLISLE ST',
       '1244 N CARLISLE ST', '1306-08 N CARLISLE ST',
       '1310-12 N CARLISLE ST', '1314 N CARLISLE ST',
       '1316 N CARLISLE ST', '1318 N CARLISLE ST', '1320 N CARLISLE ST',
       '1322 N CARLISLE ST', '1434-36 N CARLISLE ST',
       '1438 N CARLISLE ST', '1500 N CARLISLE ST', '1502 N CARLISLE ST',
       '1504 N CARLISLE ST', '1506 N CARLISLE ST', '1508 N CARLISLE ST',
       '1510 N CARLISLE ST', '1510 1/2 N CARLISLE ST',
       '1512 N CARLISLE ST', '1518 N CARLISLE ST', '1520 N CARLISLE ST',
       '1522 N CARLISLE ST', '1526 N CARLISLE ST', '1528 N CARLISLE ST',
       '1530 N CARLISLE ST', '1206 N CARLISLE ST', '1208 N CARLISLE ST',
       '1210 N CARLISLE ST', '3400-26 N CARLISLE ST',
       '5227 N CARLISLE ST', '3421 N CARLISLE ST', '3423 N CARLISLE ST',
       '2025 N CARLISLE ST', '2029 N CARLISLE ST', '1430 N CARLISLE ST',
       '1536 N CARLISLE ST', '1254 N CARLISLE ST', '1534 N CARLISLE ST',
       '3051 N CARLISLE ST', '1535-37 N CARLISLE ST',
       '4938 N CARLISLE ST', '1246-52 N CARLISLE ST', '124 N CARLISLE ST',
       '4706-14 N CARLISLE ST', '4311 N CARLISLE ST',
       '4313 N CARLISLE ST', '800-32 N CARLISLE ST', '856 N CARLISLE ST',
       '3428 N CARLISLE ST', '2220 N CARLISLE ST', '2222 N CARLISLE ST',
       '2224 N CARLISLE ST', '2230 N CARLISLE ST', '2232 N CARLISLE ST'],
      dtype=object)

In [218]:
df[df['location']=='1438 N CARLISLE ST']['zip_code']

332218    19121
Name: zip_code, dtype: object

In [219]:
index=df[df['location']=='1434-36 N CARLISLE ST'].index
df.loc[index,'zip_code']=19121

<b> 1629 WALLACE ST </b>

In [220]:
df[df['location']=='1629 WALLACE ST']

,basements,building_code,building_code_description,category_code,category_code_description,central_air,depth,exterior_condition,fireplaces,frontage,...,type_heater,unfinished,unit,view_type,year_built,zip_code,zoning,new_zoning,sale_year,sale_year_group
527675,NaN,CA0,APTS 5-50 UNITS MASONRY,2,Multi Family,Y,0.0,2.0,0.0,0.0,...,NaN,F,NaN,NaN,1915,NaN,RM1,Residential Multi Family,2016.0,2020-2016

In [221]:
df[df['location'].str.contains('WALLACE ST')]['location'].unique()

array(['405 WALLACE ST', '411 WALLACE ST', '418 WALLACE ST',
       '416 WALLACE ST', '414 WALLACE ST', '412 WALLACE ST',
       '410 WALLACE ST', '408 WALLACE ST', '421 WALLACE ST',
       '423 WALLACE ST', '425 WALLACE ST', '427 WALLACE ST',
       '429 WALLACE ST', '431 WALLACE ST', '439 WALLACE ST',
       '441 WALLACE ST', '443 WALLACE ST', '445 WALLACE ST',
       '447 WALLACE ST', '449 WALLACE ST', '402 WALLACE ST',
       '404 WALLACE ST', '406 WALLACE ST', '403 WALLACE ST',
       '4202 WALLACE ST', '4204 WALLACE ST', '4206 WALLACE ST',
       '4208 WALLACE ST', '4210 WALLACE ST', '4212 WALLACE ST',
       '4216 WALLACE ST', '4214 WALLACE ST', '4218 WALLACE ST',
       '4220 WALLACE ST', '4222 WALLACE ST', '4228 WALLACE ST',
       '4230 WALLACE ST', '4232 WALLACE ST', '4234 WALLACE ST',
       '4236 WALLACE ST', '4300 WALLACE ST', '4302 WALLACE ST',
       '4304 WALLACE ST', '4306 WALLACE ST', '4308 WALLACE ST',
       '4310 WALLACE ST', '4312 WALLACE ST', '4314 WALLACE ST',
       '4316 WALLACE ST', '4318 WALLACE ST', '4322 WALLACE ST',
       '4324 WALLACE ST', '4326 WALLACE ST', '4328 WALLACE ST',
       '4330 WALLACE ST', '4332 WALLACE ST', '4334 WALLACE ST',
       '4336 WALLACE ST', '4017 WALLACE ST', '4069 WALLACE ST',
       '4071 WALLACE ST', '4073 WALLACE ST', '4075 WALLACE ST',
       '4077 WALLACE ST', '4079 WALLACE ST', '4201 WALLACE ST',
       '4203 WALLACE ST', '4205 WALLACE ST', '4207 WALLACE ST',
       '4209 WALLACE ST', '4211 WALLACE ST', '4213 WALLACE ST',
       '4215 WALLACE ST', '4217 WALLACE ST', '4219 WALLACE ST',
       '4221 WALLACE ST', '4223 WALLACE ST', '4225 WALLACE ST',
       '4239 WALLACE ST', '4321 WALLACE ST', '4323 WALLACE ST',
       '4325 WALLACE ST', '4327 WALLACE ST', '4329 WALLACE ST',
       '1600 WALLACE ST', '1602 WALLACE ST', '1610 WALLACE ST',
       '1614 WALLACE ST', '1618 WALLACE ST', '1620 WALLACE ST',
       '1622 WALLACE ST', '1624 WALLACE ST', '1626 WALLACE ST',
       '1628 WALLACE ST', '1630 WALLACE ST', '1519 WALLACE ST',
       '1521 WALLACE ST', '1523 WALLACE ST', '1525-27 WALLACE ST',
       '1529 WALLACE ST', '1603 WALLACE ST', '1605 WALLACE ST',
       '1607 WALLACE ST', '1609 WALLACE ST', '1611 WALLACE ST',
       '1613 WALLACE ST', '1617 WALLACE ST', '1623 WALLACE ST',
       '1627 WALLACE ST', '1020 WALLACE ST', '1022 WALLACE ST',
       '1024 WALLACE ST', '1026 WALLACE ST', '1028 WALLACE ST',
       '1102 WALLACE ST', '1104 WALLACE ST', '1106 WALLACE ST',
       '1108 WALLACE ST', '1110 WALLACE ST', '1112 WALLACE ST',
       '1114 WALLACE ST', '1116 WALLACE ST', '1118 WALLACE ST',
       '1120 WALLACE ST', '1122 WALLACE ST', '1126 WALLACE ST',
       '1128 WALLACE ST', '1130 WALLACE ST', '1206 WALLACE ST',
       '1208 WALLACE ST', '1210 WALLACE ST', '1212 WALLACE ST',
       '1222 WALLACE ST', '1224 WALLACE ST', '1226 WALLACE ST',
       '1228 WALLACE ST', '1228R WALLACE ST', '1230-36 WALLACE ST',
       '1238 WALLACE ST', '1240 WALLACE ST', '1013 WALLACE ST',
       '1015 WALLACE ST', '1017 WALLACE ST', '1019 WALLACE ST',
       '1021 WALLACE ST', '1023-25 WALLACE ST', '1027 WALLACE ST',
       '1101 WALLACE ST', '1105 WALLACE ST', '1107 WALLACE ST',
       '1109 WALLACE ST', '1111 WALLACE ST', '1113 WALLACE ST',
       '1115 WALLACE ST', '1117 WALLACE ST', '1119 WALLACE ST',
       '1121 WALLACE ST', '1123 WALLACE ST', '1125 WALLACE ST',
       '1127 WALLACE ST', '1129 WALLACE ST', '1923 WALLACE ST',
       '1927 WALLACE ST', '1931 WALLACE ST', '2001 WALLACE ST',
       '1935 WALLACE ST', '2003 WALLACE ST', '2007 WALLACE ST',
       '2011 WALLACE ST', '2013 WALLACE ST', '2015 WALLACE ST',
       '2019 WALLACE ST', '2021 WALLACE ST', '2025 WALLACE ST',
       '2027 WALLACE ST', '2029 WALLACE ST', '2031 WALLACE ST',
       '2033 WALLACE ST', '2035 WALLACE ST', '2037 WALLACE ST',
       '2039 WALLACE ST', '2041 WALLACE ST', '2043 WALLACE ST',
       '2045 WALLACE ST', '2047 WALLACE ST', '2049 WALLACE ST',
       '2101 WALLACE ST', '2103 WALLACE ST', '2105 WALLACE ST',
       '2107 WALLACE ST', '2109 WALLACE ST', '2111 WALLACE ST',
       '2127 WALLACE ST', '2129 WALLACE ST', '2131 WALLACE ST',
       '2135 WALLACE ST', '2211 WALLACE ST', '2213 WALLACE ST',
       '2215 WALLACE ST', '2219 WALLACE ST', '2221 WALLACE ST',
       '2223 WALLACE ST', '2225 WALLACE ST', '2227 WALLACE ST',
       '2229 WALLACE ST', '2231 WALLACE ST', '2233 WALLACE ST',
       '2235 WALLACE ST', '2237 WALLACE ST', '2239 WALLACE ST',
       '2241 WALLACE ST', '2243 WALLACE ST', '2245 WALLACE ST',
       '2307 WALLACE ST', '2313 WALLACE ST', '2315 WALLACE ST',
       '1720 WALLACE ST', '1722 WALLACE ST', '1718 WALLACE ST',
       '1724 WALLACE ST', '1730 WALLACE ST', '1904 WALLACE ST',
       '1906 WALLACE ST', '1910 WALLACE ST', '1918 WALLACE ST',
       '1922 WALLACE ST', '1924 WALLACE ST', '1926 WALLACE ST',
       '1928 WALLACE ST', '2002 WALLACE ST', '2004 WALLACE ST',
       '2006 WALLACE ST', '2008 WALLACE ST', '2010 WALLACE ST',
       '2012 WALLACE ST', '2014 WALLACE ST', '2020 WALLACE ST',
       '2022 WALLACE ST', '2024 WALLACE ST', '2026 WALLACE ST',
       '2028 WALLACE ST', '2030 WALLACE ST', '2034 WALLACE ST',
       '2036 WALLACE ST', '2038 WALLACE ST', '2040 WALLACE ST',
       '2042 WALLACE ST', '2108 WALLACE ST', '2110 WALLACE ST',
       '2112 WALLACE ST', '2114 WALLACE ST', '2116 WALLACE ST',
       '2118 WALLACE ST', '2120 WALLACE ST', '2122 WALLACE ST',
       '2124-26 WALLACE ST', '2128 WALLACE ST', '2130 WALLACE ST',
       '2132 WALLACE ST', '2134 WALLACE ST', '2136 WALLACE ST',
       '2200 WALLACE ST', '2202 WALLACE ST', '2204 WALLACE ST',
       '2206 WALLACE ST', '2208 WALLACE ST', '2210 WALLACE ST',
       '2212 WALLACE ST', '2214 WALLACE ST', '2216 WALLACE ST',
       '2218 WALLACE ST', '2220 WALLACE ST', '2222 WALLACE ST',
       '2224 WALLACE ST', '2226 WALLACE ST', '2228 WALLACE ST',
       '2300-02 WALLACE ST', '2304 WALLACE ST', '2306 WALLACE ST',
       '2310 WALLACE ST', '2312 WALLACE ST', '2314 WALLACE ST',
       '2316 WALLACE ST', '2318 WALLACE ST', '2322 WALLACE ST',
       '2324 WALLACE ST', '1701 WALLACE ST', '1717 WALLACE ST',
       '1735 WALLACE ST', '1801 WALLACE ST', '1803 WALLACE ST',
       '1805 WALLACE ST', '1807 WALLACE ST', '1809 WALLACE ST',
       '1811 WALLACE ST', '1813 WALLACE ST', '1815 WALLACE ST',
       '1817 WALLACE ST', '1819-21 WALLACE ST', '1823 WALLACE ST',
       '1825 WALLACE ST', '1827 WALLACE ST', '1829 WALLACE ST',
       '1831 WALLACE ST', '1833 WALLACE ST', '1917 WALLACE ST',
       '1919 WALLACE ST', '3415 WALLACE ST', '3609 WALLACE ST',
       '3611 WALLACE ST', '3613 WALLACE ST', '3615 WALLACE ST',
       '3617 WALLACE ST', '3619 WALLACE ST', '3621 WALLACE ST',
       '3623 WALLACE ST', '3625 WALLACE ST', '3627 WALLACE ST',
       '3629 WALLACE ST', '3631 WALLACE ST', '3633 WALLACE ST',
       '3635 WALLACE ST', '3637 WALLACE ST', '3713 WALLACE ST',
       '3715 WALLACE ST', '3717 WALLACE ST', '3719 WALLACE ST',
       '3721 WALLACE ST', '3725 WALLACE ST', '3727 WALLACE ST',
       '3729 WALLACE ST', '3731 WALLACE ST', '3733 WALLACE ST',
       '3735 WALLACE ST', '3737 WALLACE ST', '3739 WALLACE ST',
       '3741 WALLACE ST', '3801 WALLACE ST', '3805 WALLACE ST',
       '3807 WALLACE ST', '3809 WALLACE ST', '3811 WALLACE ST',
       '3815 WALLACE ST', '3817 WALLACE ST', '3819 WALLACE ST',
       '3821 WALLACE ST', '3823 WALLACE ST', '3825 WALLACE ST',
       '3831 WALLACE ST', '3833 WALLACE ST', '3835 WALLACE ST',
       '3837 WALLACE ST', '3839 WALLACE ST', '3841 WALLACE ST',
       '3843 WALLACE ST', '3845 WALLACE ST', '3847 WALLACE ST',
       '3904 WALLACE ST', '3906 WALLACE ST', '3908 WALLACE ST',
       '3910 WALLACE ST', '3912 WALLACE ST', '3914 WALLACE ST',
       '3916 WALLACE ST', '3918 WALLACE ST', '3920 WALLACE ST',
       '3922 WALLACE ST', '3924 WALLACE ST', '3926 WALLACE ST',
       '3928 WALLACE ST', '3930 WALLACE ST', '3932 WALLACE ST',
       '3934 WALLACE ST', '3936 WALLACE ST', '3938 WALLACE ST',
       '3940 WALLACE ST', '3946 WALLACE ST', '3948 WALLACE ST',
       '3950 WALLACE ST', '3952 WALLACE ST', '3954 WALLACE ST',
       '3212 WALLACE ST', '3214 WALLACE ST', '3216 WALLACE ST',
       '3218 WALLACE ST', '3220 WALLACE ST', '3224 WALLACE ST',
       '3226 WALLACE ST', '3956 WALLACE ST', '3958 WALLACE ST',
       '3960 WALLACE ST', '3962 WALLACE ST', '3964 WALLACE ST',
       '3901 WALLACE ST', '3903 WALLACE ST', '3905 WALLACE ST',
       '3907 WALLACE ST', '3909 WALLACE ST', '3911 WALLACE ST',
       '3913 WALLACE ST', '3915 WALLACE ST', '3917 WALLACE ST',
       '3408 WALLACE ST', '3410 WALLACE ST', '3412 WALLACE ST',
       '3414 WALLACE ST', '3416 WALLACE ST', '3418 WALLACE ST',
       '3420 WALLACE ST', '3422 WALLACE ST', '3424 WALLACE ST',
       '3426 WALLACE ST', '3428 WALLACE ST', '3430 WALLACE ST',
       '3432 WALLACE ST', '3919 WALLACE ST', '3921 WALLACE ST',
       '3951 WALLACE ST', '3953 WALLACE ST', '3955 WALLACE ST',
       '3957 WALLACE ST', '3959 WALLACE ST', '3961 WALLACE ST',
       '3434 WALLACE ST', '3500 WALLACE ST', '3506 WALLACE ST',
       '3508 WALLACE ST', '3510 WALLACE ST', '3512 WALLACE ST',
       '3514 WALLACE ST', '3516 WALLACE ST', '3518 WALLACE ST',
       '3520 WALLACE ST', '3522 WALLACE ST', '3524 WALLACE ST',
       '3526 WALLACE ST', '3604 WALLACE ST', '3606 WALLACE ST',
       '3608 WALLACE ST', '3610-12 WALLACE ST', '3614 WALLACE ST',
       '3616 WALLACE ST', '3618 WALLACE ST', '3620 WALLACE ST',
       '3624 WALLACE ST', '3626 WALLACE ST', '3710 WALLACE ST',
       '3712 WALLACE ST', '3714 WALLACE ST', '3716 WALLACE ST',
       '3718 WALLACE ST', '3720 WALLACE ST', '3722 WALLACE ST',
       '3726 WALLACE ST', '3730 WALLACE ST', '3732 WALLACE ST',
       '3734 WALLACE ST', '3736 WALLACE ST', '3738 WALLACE ST',
       '3740 WALLACE ST', '3742 WALLACE ST', '3800 WALLACE ST',
       '3802 WALLACE ST', '3804 WALLACE ST', '3806 WALLACE ST',
       '3808 WALLACE ST', '3810 WALLACE ST', '3812 WALLACE ST',
       '3814 WALLACE ST', '3816 WALLACE ST', '3818 WALLACE ST',
       '3820 WALLACE ST', '3822 WALLACE ST', '3826 WALLACE ST',
       '3828 WALLACE ST', '3830 WALLACE ST', '3832 WALLACE ST',
       '3834 WALLACE ST', '3836 WALLACE ST', '3213 WALLACE ST',
       '3215 WALLACE ST', '3217 WALLACE ST', '3219 WALLACE ST',
       '3221 WALLACE ST', '3223 WALLACE ST', '3225 WALLACE ST',
       '3227 WALLACE ST', '3403 WALLACE ST', '3405 WALLACE ST',
       '3411 WALLACE ST', '3413 WALLACE ST', '4812 WALLACE ST',
       '4814 WALLACE ST', '4811 WALLACE ST', '1631 WALLACE ST',
       '1700 WALLACE ST', '4200 WALLACE ST', '3300-26 WALLACE ST',
       '1800 WALLACE ST', '3711 WALLACE ST', '3942 WALLACE ST',
       '1901-11 WALLACE ST', '1913 WALLACE ST', '1915 WALLACE ST',
       '4238-40 WALLACE ST', '4301 WALLACE ST', '4319 WALLACE ST',
       '3743-45 WALLACE ST', '1001-11 WALLACE ST', '1214-16 WALLACE ST',
       '2119 WALLACE ST', '1601 WALLACE ST', '1625 WALLACE ST',
       '1629 WALLACE ST', '1604 WALLACE ST', '1606 WALLACE ST',
       '1608 WALLACE ST', '1619 WALLACE ST', '1900 WALLACE ST',
       '1921 WALLACE ST', '1933 WALLACE ST', '2017 WALLACE ST',
       '2217 WALLACE ST', '2016-18 WALLACE ST', '3407 WALLACE ST',
       '3409 WALLACE ST', '3401 WALLACE ST', '914-20 WALLACE ST',
       '4015 WALLACE ST', '4224 WALLACE ST', '4320 WALLACE ST',
       '4338 WALLACE ST', '4013 WALLACE ST', '809 WALLACE ST',
       '1315-17 WALLACE ST', '2309-11 WALLACE ST', '2000 WALLACE ST',
       '2115 WALLACE ST', '1218-20 WALLACE ST', '913-29 WALLACE ST',
       '3728 WALLACE ST', '1612 WALLACE ST', '1711-13 WALLACE ST',
       '1615 WALLACE ST', '1616 WALLACE ST', '1706 WALLACE ST',
       '3501 WALLACE ST', '3421 WALLACE ST', '3222 WALLACE ST',
       '3849 WALLACE ST', '3328-30 WALLACE ST', '1908 WALLACE ST',
       '1912 WALLACE ST', '1914 WALLACE ST', '1916 WALLACE ST',
       '1920 WALLACE ST', '1930 WALLACE ST', '1932 WALLACE ST',
       '1934 WALLACE ST', '1936 WALLACE ST', '1938 WALLACE ST',
       '2032 WALLACE ST', '1925 WALLACE ST', '2023 WALLACE ST',
       '4046 WALLACE ST', '4048 WALLACE ST', '4050 WALLACE ST',
       '4060 WALLACE ST', '4062 WALLACE ST', '3307-39 WALLACE ST',
       '3228-30 WALLACE ST', '4064 WALLACE ST', '3723 WALLACE ST',
       '3813 WALLACE ST', '3829 WALLACE ST', '3724 WALLACE ST',
       '3803 WALLACE ST', '3824 WALLACE ST', '3827 WALLACE ST',
       '3851 WALLACE ST', '3853 WALLACE ST', '413-15 WALLACE ST',
       '703 WALLACE ST', '2005 WALLACE ST', '2349 WALLACE ST',
       '2347 WALLACE ST', '2345 WALLACE ST', '705 WALLACE ST',
       '707 WALLACE ST', '709 WALLACE ST', '711 WALLACE ST',
       '713 WALLACE ST', '2343 WALLACE ST', '2341 WALLACE ST',
       '2339 WALLACE ST', '2337 WALLACE ST', '1714 WALLACE ST',
       '2009 WALLACE ST', '1710 WALLACE ST', '1719-21 WALLACE ST',
       '1733 WALLACE ST', '1703 WALLACE ST', '1705 WALLACE ST',
       '1704 WALLACE ST', '1708 WALLACE ST', '1712 WALLACE ST',
       '1716 WALLACE ST', '1929 WALLACE ST', '1723 WALLACE ST',
       '1729 WALLACE ST', '1707 WALLACE ST', '1731 WALLACE ST',
       '1726 WALLACE ST', '1728 WALLACE ST', '1737 WALLACE ST',
       '1709 WALLACE ST', '1715 WALLACE ST', '1739 WALLACE ST',
       '1940-42 WALLACE ST', '1902 WALLACE ST', '922 WALLACE ST',
       '924 WALLACE ST', '926 WALLACE ST', '928 WALLACE ST',
       '1702 WALLACE ST'], dtype=object)

In [222]:
df[df['location']=='1627 WALLACE ST']['zip_code']

49343    19140
Name: zip_code, dtype: object

In [223]:
index=df[df['location']=='1629 WALLACE ST'].index
df.loc[index,'zip_code']=19140

In [224]:
df['zip_code'].isna().sum()

0

# Property Specifications

In [225]:
df[['basements','garage_spaces','garage_type',
    'central_air','fireplaces','other_building',
    'depth','frontage','total_area','total_livable_area',
    'exterior_condition','interior_condition','quality_grade','general_construction',
    'fuel','type_heater',
    'number_of_bathrooms','number_of_bedrooms','number_of_rooms','number_stories',
    'parcel_shape','parcel_number','topography','view_type']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 581316 entries, 0 to 581455
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   basements             325548 non-null  object
 1   garage_spaces         581299 non-null  float64
 2   garage_type           530504 non-null  object
 3   central_air           285825 non-null  object
 4   fireplaces            581299 non-null  float64
 5   other_building        1325 non-null    object
 6   depth                 581315 non-null  float64
 7   frontage              581315 non-null  float64
 8   total_area            581315 non-null  float64
 9   total_livable_area    581310 non-null  float64
 10  exterior_condition    556065 non-null  float64
 11  interior_condition    555181 non-null  float64
 12  quality_grade         27019 non-null   float64
 13  general_construction  517161 non-null  object
 14  fuel                  10889 non-null   object
 15  type_heater           293759 non-null  object
 16  number_of_bathrooms   581310 non-null  float64
 17  number_of_bedrooms    581310 non-null  float64
 18  number_of_rooms       581310 non-null  float64
 19  number_stories        581310 non-null  float64
 20  parcel_shape          575227 non-null  object
 21  parcel_number         581316 non-null  int64
 22  topography            542455 non-null  object
 23  view_type             560241 non-null  object
dtypes: float64(13), int64(1), object(10)
memory usage: 127.0+ MB

<b> Parcel Shape and Parcel Number </b>

In [226]:
df['parcel_number'].nunique()

581316

In [227]:
len(df)

581316

In [228]:
df['parcel_number'].isna().sum()

0

Parcel number can be the unique identifier of each property.

In [229]:
df['parcel_shape'].value_counts()

E    528609
A     38070
B      6197
C      1473
        813
D        65
Name: parcel_shape, dtype: int64

Replace the whitespace unique value and missing values with mode.

In [230]:
df['parcel_shape']=df['parcel_shape'].apply(lambda x: 'E' if x==' ' else x)

In [231]:
df['parcel_shape'].isna().sum()

6089

In [232]:
index = df[df['parcel_shape'].isna()].index
df.loc[index, 'parcel_shape']='E'

In [233]:
df['parcel_shape'].isna().sum()

0

# Central Air

In [234]:
df['central_air'].value_counts()

N    175162
Y    110618
0        45
Name: central_air, dtype: int64

In [235]:
df['central_air'].isna().sum()

295491

In [236]:
df['central_air'].fillna('0',inplace=True)

# Fuel and Heater Type

<b> Fuel </b>

In [237]:
df['fuel'].value_counts()

A    10182
C      404
B      247
G       34
E       13
H        9
Name: fuel, dtype: int64

In [238]:
df['fuel'].isna().sum()

570427

In [239]:
df['fuel'].isna().sum()/len(df)*100

98.12683635062514

<b> Heater Type </b>

In [240]:
df['type_heater'].value_counts()

H    126551
A     95482
B     60807
G      4721
C      2945
0      1924
E       752
D       577
Name: type_heater, dtype: int64

In [241]:
# Removing the Null values
df['type_heater'].isna().sum()

287557

In [242]:
# Percentage of missing values
df['type_heater'].isna().sum()/len(df)*100

49.466555195453076

If we can fill most of missing column in fuel by type heater, the percentage of missing value is almost 100% in fuel, and almost 50% in type heater. Even if we can fill it, we will roughly retrieve just 50% of total data. Thus, it is recommended to drop these columns.

# Fireplaces

In [243]:
df['fireplaces'].describe()

count    581299.000000
mean          0.032037
std           0.235666
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: fireplaces, dtype: float64

In [244]:
df['fireplaces'].unique()

array([ 0.,  1.,  2.,  3., nan,  5.,  4., 10.])

In [245]:
df['fireplaces'].isna().sum()

17

In [246]:
df['fireplaces'].fillna(0,inplace=True)

In [247]:
df['fireplaces'].isna().sum()

0

In [248]:
len(df[df['fireplaces']>3])

425

In [249]:
def bin_fireplaces(x):
    if x == 0:
        return '0'
    elif x==1:
        return '1'
    elif x=='2':
        return '2'
    elif x == 3:
        return '3'
    else:
        return '>3'

In [250]:
df['fireplaces']=df['fireplaces'].apply(lambda x: bin_fireplaces(x))

In [251]:
df['fireplaces'].unique()

array(['0', '1', '>3', '3'], dtype=object)

In [252]:
df['fireplaces'].isna().sum()

0

In [253]:
df['fireplaces'].value_counts()

0     567066
1      11645
>3      1961
3        644
Name: fireplaces, dtype: int64

# Other Building

In [254]:
df['other_building'].value_counts()

Y    1167
N     158
Name: other_building, dtype: int64

In [255]:
df['other_building'].isna().sum()

579991

In [256]:
index = df[df['other_building'].isna()].index
df.loc[index, 'other_building'] = 'N'

In [257]:
df['other_building'].value_counts()

N    580149
Y      1167
Name: other_building, dtype: int64

In [258]:
df['other_building'].isna().sum()

0

# Basements, Garage Type and Garage Spaces

<b> Basements </b>

In [259]:
df['basements'].nunique()

11

In [260]:
df['basements'].value_counts()

D    120913
F     66982
H     62129
C     25423
A     17042
0     11201
J      9034
E      5873
G      2920
I      2381
B      1650
Name: basements, dtype: int64

In [261]:
df['basements'].isna().sum()

255768

In [262]:
df['basements'].isna().sum()/len(df)*100

43.998100860805486

<b> Garage Type </b>

In [263]:
df['garage_type'].nunique()

7

In [264]:
df['garage_type'].value_counts()

0    324985
A    148960
F     24373
C     19165
B      9559
S      2693
T       769
Name: garage_type, dtype: int64

In [265]:
df['garage_type'].isna().sum()/len(df)*100

8.74085695215683

<b> Garage Spaces </b>

In [266]:
df['garage_spaces'].describe()

count    581299.000000
mean          0.349524
std           0.933917
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          97.000000
Name: garage_spaces, dtype: float64

In [267]:
df['garage_spaces'].isna().sum()

17

<b> Defining Garage Spaces </b>

In [268]:
len(df[df['garage_spaces']<=4])/len(df)

0.9988560438728677

In [269]:
len(df[df['garage_spaces']>4])

648

<b> Garage Spaces and Garage Types </b>

In [270]:
df.groupby('garage_type')['garage_spaces'].describe()

                count      mean       std  min  25%  50%  75%   max
garage_type
0            324976.0  0.010942  0.671637  0.0  0.0  0.0  0.0  95.0
A            148960.0  1.055552  0.523133  0.0  1.0  1.0  1.0  60.0
B              9559.0  1.398786  2.452261  0.0  1.0  1.0  1.0  93.0
C             19165.0  1.386799  1.958845  0.0  1.0  1.0  1.0  50.0
F             24373.0  0.019325  0.143789  0.0  0.0  0.0  0.0   3.0
S              2693.0  0.510954  2.585171  0.0  0.0  0.0  1.0  97.0
T               769.0  0.040312  0.338021  0.0  0.0  0.0  0.0   6.0

In [271]:
df[(df['garage_type']!='0')&(df['garage_spaces']!=0)].groupby('garage_type')['garage_spaces'].describe()

                count      mean       std  min  25%  50%   75%   max
garage_type
A            146069.0  1.076443  0.506553  1.0  1.0  1.0  1.00  60.0
B              9339.0  1.431738  2.471453  1.0  1.0  1.0  1.00  93.0
C             19063.0  1.394219  1.961443  1.0  1.0  1.0  1.00  50.0
F               453.0  1.039735  0.226969  1.0  1.0  1.0  1.00   3.0
S              1064.0  1.293233  3.988991  1.0  1.0  1.0  1.00  97.0
T                18.0  1.722222  1.447332  1.0  1.0  1.0  1.75   6.0

In [272]:
index=df[(df['garage_type']!='0')&(df['garage_spaces']==0)].index
df.loc[index,'garage_spaces']=1

In [273]:
index=df[(df['garage_type']=='0')&(df['garage_spaces']>2)].index
df.loc[index,'garage_spaces']=0

In [274]:
df.groupby('garage_type')['garage_spaces'].describe()

                count      mean       std  min  25%  50%  75%   max
garage_type
0            324976.0  0.001311  0.040287  0.0  0.0  0.0  0.0   2.0
A            148960.0  1.074960  0.501724  1.0  1.0  1.0  1.0  60.0
B              9559.0  1.421801  2.443702  1.0  1.0  1.0  1.0  93.0
C             19165.0  1.392121  1.956426  1.0  1.0  1.0  1.0  50.0
F             24373.0  1.000739  0.031372  1.0  1.0  1.0  1.0   3.0
S              2693.0  1.115856  2.510739  1.0  1.0  1.0  1.0  97.0
T               769.0  1.016905  0.241470  1.0  1.0  1.0  1.0   6.0

<b> 'PARKING' in Building Code Description </b>

In [275]:
df[(df['building_code_description'].str.contains('PARKING'))]['building_code_description'].value_counts()

CONDO PARKING SPACE    2273
Name: building_code_description, dtype: int64

In [276]:
df[(df['building_code_description'].str.contains('PARKING'))][['garage_type','garage_spaces']].value_counts()

garage_type  garage_spaces
0            0.0              1038
A            1.0               582
S            1.0               348
B            1.0                75
C            37.0               37
0            1.0                27
A            10.0                2
C            2.0                 1
dtype: int64

In [277]:
index=df[(df['building_code_description'].str.contains('PARKING'))&(df['garage_type']=='0')&(df['garage_spaces']==0)].index
df.loc[index,'garage_spaces']=1

In [278]:
df[(df['building_code_description'].str.contains('PARKING'))][['garage_type','garage_spaces']].value_counts()

garage_type  garage_spaces
0            1.0              1065
A            1.0               582
S            1.0               348
B            1.0                75
C            37.0               37
A            10.0                2
C            2.0                 1
dtype: int64

# Garage Spaces and Category Code

In [279]:
df.groupby('category_code_description')['garage_spaces'].describe()

,count,mean,std,min,25%,50%,75%,max
category_code_description,,,,,,,,
Commercial,14040.0,0.303348,1.832059,0.0,0.0,0.0,0.0,97.0
Industrial,4353.0,0.534574,2.618209,0.0,0.0,0.0,0.0,67.0
Mixed Use,14396.0,0.154626,0.439283,0.0,0.0,0.0,0.0,15.0
Multi Family,42403.0,0.513454,1.266438,0.0,0.0,0.0,1.0,93.0
Single Family,461553.0,0.453759,0.682601,0.0,0.0,0.0,1.0,72.0
Vacant Land,44554.0,0.926920,0.260270,0.0,1.0,1.0,1.0,1.0

Commercial, Industrial, Mixed Use, Hotel/Apartments are normal to have a lot of parking space. Also, it is normal for vacant land to have garage space of 1 as mean and median.

In [281]:
df[(df['garage_spaces']>4)&(df['category_code']==1)][['location','building_code_description','category_code','basements','total_area','garage_spaces','garage_type','number_stories','year_built','market_value','sale_year']]

,location,building_code_description,category_code,basements,total_area,garage_spaces,garage_type,number_stories,year_built,market_value,sale_year
1417,1815 E MOYAMENSING AVE,PRIV GAR 1 STY MASONRY,1,D,1360.00,5.0,C,0.0,1925,172300.0,2004.0
4218,1834 S 7TH ST,PRIV GAR 2 STY MASONRY,1,NaN,1120.00,5.0,A,2.0,2007,100000.0,2007.0
4219,1836 S 7TH ST,PRIV GAR 2 STY MASONRY,1,D,1120.00,5.0,A,3.0,2007,100000.0,2007.0
8355,522 CHRISTIAN ST,ROW W/GAR 3 STY MASONRY,1,J,2030.00,6.0,A,3.0,1925,204000.0,1993.0
9442,1238-40 S 2ND ST,ROW W/GAR 1 STY MASONRY,1,NaN,3200.00,10.0,B,1.0,1960,333800.0,1985.0
14063,1217 BAINBRIDGE ST,ROW W/GAR 4 STY MASONRY,1,NaN,900.00,20.0,A,4.0,2018,1064600.0,2019.0
15390,1220 KATER ST,ROW W/GAR 4 STY MASONRY,1,NaN,900.00,20.0,A,4.0,2018,1064600.0,2020.0
17983,6227 CATHARINE ST,PRIV GAR 1 STY MASONRY,1,NaN,11545.00,7.0,C,1.0,1925,60600.0,2007.0
18620,6101 HAZEL AVE,PRIV GAR 1 STY MASONRY,1,NaN,1173.79,7.0,B,0.0,1925,33600.0,2015.0
21870,5416 W THOMPSON ST,PRIV GAR 1 STY MASONRY,1,NaN,2821.92,12.0,B,0.0,1925,81800.0,2009.0
23182,1319-21 N CONESTOGA ST,DET W/D GAR 2 STY MASONRY,1,NaN,3901.50,20.0,C,2.0,1925,93000.0,2015.0
23192,5406 MEDIA ST,PRIV GAR 1 STY MASONRY,1,NaN,4800.00,14.0,C,0.0,1925,27700.0,2001.0
24529,1236 N CONESTOGA ST,PRIV GAR 1 STY MASONRY,1,NaN,783.87,10.0,C,1.0,1925,54800.0,2010.0
28188,1527 N WANAMAKER ST,PRIV GAR 1 STY MASONRY,1,NaN,2463.12,6.0,B,0.0,1925,40800.0,2011.0
28303,1623 N 59TH ST,S/D W/GAR 2 STY MASONRY,1,NaN,2182.25,5.0,B,0.0,1960,105600.0,2007.0
28589,147 S HANCOCK ST,ROW W/GAR 4 STY MASONRY,1,NaN,0.00,20.0,A,4.0,2019,2208400.0,2016.0
30902,232-36 WALNUT ST,ROW W/GAR 3 STY MASONRY,1,D,9127.15,5.0,A,3.0,2000,2762200.0,1999.0
33998,74-82 LAUREL ST,ROW W/GAR 3 STY MAS+OTHER,1,E,757.40,11.0,A,3.0,2016,600400.0,2016.0
34122,1006 N LAWRENCE ST,PRIV GAR 1 STY MASONRY,1,J,765.90,6.0,C,1.0,1920,77100.0,2011.0
35778,433 WIOTA ST,PRIV GAR 1 STY MASONRY,1,NaN,1983.79,6.0,B,0.0,1925,52200.0,2013.0
44518,4421-27 N 3RD ST,ROW W/GAR 2 STY MASONRY,1,NaN,7680.00,13.0,C,0.0,1960,49100.0,2018.0
44585,4336 N 4TH ST,DET W/GAR 2 STY MASONRY,1,NaN,3360.00,6.0,C,2.0,1935,41800.0,2019.0
44680,189-93 W ONTARIO ST,PRIV GAR 1 STY MASONRY,1,NaN,3213.00,11.0,C,0.0,1935,78000.0,2016.0
49372,427 E MOUNT AIRY AVE,DET W/D GAR 2.5 STY MAS+O,1,J,9896.28,5.0,C,0.0,1910,527200.0,2014.0
49910,212 N 21ST ST,ROW W/GAR 4 STY MASONRY,1,NaN,1517.97,20.0,A,0.0,0000,1980000.0,2019.0
49911,210 N 21ST ST,ROW W/GAR 4 STY MASONRY,1,A,1496.00,20.0,A,3.0,2017,1980000.0,2019.0
49955,212R N 21ST ST,ROW W/GAR 4 STY MASONRY,1,NaN,1439.97,20.0,A,3.0,2017,2256000.0,2016.0
50493,1914-16 RITTENHOUSE SQ,ROW W/GAR 4 STY MASONRY,1,A,5368.00,6.0,A,0.0,1750,5477000.0,2014.0
51479,8432 ARDLEIGH ST,DET W/D GAR 2.5 STY MAS+O,1,C,4962.90,5.0,C,3.0,1925,502900.0,1989.0
51584,7719 ARDLEIGH ST,PRIV GAR 1 STY MASONRY,1,NaN,3628.00,6.0,B,0.0,1925,26500.0,2002.0
51614,185 BETHLEHEM PIKE,DET W/GAR 2 STY STONE,1,C,145471.49,5.0,B,2.0,1925,1251100.0,2015.0
51695,8017 ARDLEIGH ST,DET W/D GAR 3 STY FRAME,1,A,5468.04,20.0,C,3.0,2018,1750000.0,2018.0
52781,416 W SPRINGFIELD AVE,DET W/D GAR 2.5 STY STONE,1,NaN,48905.00,5.0,C,3.0,1925,1272300.0,2013.0
53215,19 W WILLOW GROVE AVE,DET W/D GAR 2.5 STY MAS+O,1,C,5238.00,12.0,C,2.0,1902,415000.0,2011.0
53555,20-22 NIPPON ST,S/D W/D GAR 2 STY STONE,1,NaN,3287.00,5.0,C,2.0,1925,309700.0,1981.0
53896,9198 STENTON AVE,DET W/D GAR 2.5 STY STONE,1,NaN,27280.00,10.0,C,0.0,1754,631800.0,2000.0
55513,9002 CREFELD ST,DET W/B GAR 2 STY STONE,1,A,219542.00,5.0,A,2.0,1929,3832800.0,2013.0
55894,8703 SEMINOLE AVE,DET W/D GAR 2.5 STY MAS+O,1,C,40223.00,5.0,C,0.0,1920,1691200.0,2018.0
55895,8709 SEMINOLE AVE,S/D W/B GAR 2 STY STONE,1,F,13663.00,6.0,A,2.0,1925,536500.0,2016.0
55896,8711 SEMINOLE AVE,DET W/D GAR 3 STY STONE,1,D,111721.00,6.0,C,0.0,1925,2786400.0,2016.0
55997,8033 ROANOKE ST,PRIV GAR 1 STY MASONRY,1,NaN,2585.00,6.0,B,0.0,1925,26400.0,1954.0
56014,8109 ST MARTINS LN,DET W/D GAR 2.5 STY STONE,1,D,31620.00,5.0,C,3.0,1920,1536100.0,2007.0
56160,7926 ROANOKE ST,PRIV GAR 1 STY MASONRY,1,NaN,3017.40,5.0,C,1.0,1925,25900.0,2004.0
70516,245-47 E ARMAT ST,DET W/D GAR 2 STY MASONRY,1,D,7128.50,10.0,C,2.0,1920,121400.0,2015.0
74406,5225 MARION ST,DET W/GAR 2 STY MASONRY,1,NaN,4452.00,5.0,C,2.0,1950,75600.0,2020.0
84955,708 N 17TH ST,ROW 3 STY MASONRY,1,NaN,650.00,10.0,A,3.0,2018,425000.0,2019.0
84957,712 N 17TH ST,ROW 3 STY MASONRY,1,NaN,491.60,10.0,A,3.0,2018,313500.0,2018.0
85348,1027 SPRING GARDEN ST,PRIV GAR 1 STY MASONRY,1,NaN,1341.18,8.0,B,0.0,1915,59400.0,1993.0
88003,1701 OLIVE ST,ROW 3 STY MASONRY,1,NaN,613.00,10.0,A,3.0,2018,397000.0,2019.0
88004,1703 OLIVE ST,ROW 3 STY MASONRY,1,NaN,613.00,10.0,A,3.0,2018,397000.0,2018.0
88005,1705 OLIVE ST,ROW 3 STY MASONRY,1,NaN,613.00,10.0,A,3.0,2018,397000.0,2018.0
88006,1707 OLIVE ST,ROW 3 STY MASONRY,1,NaN,622.00,10.0,A,3.0,2018,395000.0,2018.0
88217,1702 FOLSOM ST,ROW 3 STY MASONRY,1,NaN,235.80,10.0,A,3.0,2018,221300.0,2018.0
88218,1704 FOLSOM ST,ROW 3 STY MASONRY,1,NaN,607.70,10.0,A,3.0,2018,421000.0,2019.0
88220,1708 FOLSOM ST,ROW 3 STY MASONRY,1,NaN,607.70,10.0,A,3.0,2018,421000.0,2018.0
103937,1216 E BERKS ST,PRIV GAR 1 STY MASONRY,1,D,1440.00,9.0,C,0.0,1925,96500.0,2006.0
104074,1035 E MONTGOMERY AVE,PRIV GAR 1 STY MASONRY,1,0,2892.02,18.0,C,0.0,1900,180900.0,1994.0
105857,1232 MASCHER ST,ROW W/GAR 3 STY FRAME,1,E,960.00,11.0,A,3.0,2015,506400.0,2015.0
113117,460 KINGSLEY ST,PRIV GAR 1 STY MASONRY,1,0,8172.05,13.0,B,0.0,1960,83200.0,1998.0
113434,228 BALDWIN ST,PRIV GAR 1 STY MASONRY,1,NaN,5200.00,5.0,C,1.0,1925,33200.0,1989.0
114069,4477 FLEMING ST,ROW W/DET GAR 2.5 STY STO,1,C,7975.77,6.0,C,3.0,1900,246700.0,1970.0
114314,4118 MANAYUNK AVE,S/D W/D GAR 3 STY MASONRY,1,D,4431.00,12.0,C,3.0,1900,332100.0,1983.0
124331,2418-20 N FAIRHILL ST,PRIV GAR 2 STY MASONRY,1,NaN,1433.85,5.0,A,0.0,1915,24000.0,2007.0
125329,207R E CLIVEDEN ST,PRIV GAR 1 STY MASONRY,1,NaN,1794.00,18.0,C,0.0,1925,11100.0,2014.0
128053,2 E HORTTER ST,PRIV GAR 1 STY MASONRY,1,D,6768.00,15.0,C,0.0,1925,58900.0,2000.0
132363,530 DUPONT ST,DET W/D GAR 2.5 STY MASON,1,C,10000.00,5.0,C,3.0,1947,399800.0,2012.0
134131,6910 WISSAHICKON AVE,DET W/D GAR 2.5 STY STONE,1,A,160736.00,5.0,C,3.0,1900,2118100.0,2017.0
135819,355 DELMAR ST,PRIV GAR 1 STY FRAME,1,0,5190.84,6.0,C,0.0,1925,12800.0,2014.0
137814,454 DELMAR ST,DET W/D GAR 3 STY MAS+OTH,1,J,5220.00,6.0,C,3.0,1945,310300.0,2014.0
140572,4810-18 RUTLAND ST,PRIV GAR 1 STY MASONRY,1,NaN,9045.79,23.0,B,0.0,1925,215200.0,2004.0
145313,4235 ADAMS AVE,PRIV GAR 1 STY STONE,1,NaN,3777.32,22.0,B,0.0,1930,149600.0,2018.0
145431,4831 N PENN ST,PRIV GAR 1 STY MASONRY,1,NaN,2733.00,8.0,B,0.0,1940,21400.0,2019.0
147015,2352 DUNCAN ST,S/D W/D GAR 2 STY MASONRY,1,NaN,2000.00,6.0,C,2.0,1950,142000.0,2007.0
147207,6425 CHEROKEE ST,PRIV GAR 1 STY MASONRY,1,0,1835.00,10.0,C,0.0,1925,25000.0,1990.0
149578,1731 FILLMORE ST,DET W/D GAR 2 STY FRAME,1,D,4320.00,5.0,C,2.0,1925,55800.0,2017.0
150410,408 E MOUNT AIRY AVE,ROW W/DET GAR 2 STY MAS,1,D,6968.65,16.0,C,2.0,1925,236800.0,2017.0
152013,134 W CLIVEDEN ST,PRIV GAR 1 STY MASONRY,1,0,1875.00,5.0,C,0.0,1955,41200.0,2015.0
158614,3011-17 EDGEMONT ST,ROW W/GAR 3 STY MASONRY,1,NaN,6300.00,8.0,B,3.0,1925,240300.0,2009.0
159298,2844 E THOMPSON ST,PRIV GAR 1 STY MASONRY,1,NaN,2600.00,9.0,C,1.0,2011,0.0,2012.0
162938,1513-15 S 48TH ST,PRIV GAR 1 STY MASONRY,1,NaN,2501.42,11.0,B,0.0,1940,49700.0,2004.0
178835,1217 N 26TH ST,PRIV GAR 1 STY MASONRY,1,NaN,1789.92,14.0,A,1.0,1925,60000.0,2016.0
184443,2642 W HAROLD ST,ROW W/GAR 2 STY MASONRY,1,C,1600.00,6.0,B,2.0,1915,42300.0,1990.0
190603,2733 E HUNTINGDON ST,PRIV GAR 1 STY MAS+OTH,1,0,1440.00,5.0,B,1.0,1940,51800.0,2013.0
196369,2461-63 ALMOND ST,PRIV GAR 1 STY MASONRY,1,NaN,1097.00,10.0,B,1.0,1900,116100.0,2010.0
199520,2531 GRADUATE SQ,ROW W/GAR 3 STY MASONRY,1,E,969.00,10.0,A,2.0,2018,633800.0,2019.0
199699,2538 CHRISTIAN ST,PRIV GAR 1 STY MASONRY,1,NaN,1136.88,7.0,B,1.0,1925,85200.0,1998.0
201536,3343 RAND ST,ROW 2 STY MASONRY,1,H,602.00,9.0,A,0.0,1920,45100.0,2015.0
201692,1220 E VENANGO ST,PRIV GAR 1 STY MASONRY,1,D,1865.00,5.0,C,1.0,1930,35900.0,2005.0
210318,1529-31 N EDGEWOOD ST,PRIV GAR 1 STY MASONRY,1,NaN,1752.21,7.0,S,1.0,1925,31800.0,1990.0
211990,333-37 N GROSS ST,PRIV GAR 1 STY MASONRY,1,NaN,4750.00,6.0,B,1.0,1925,83500.0,2017.0
212324,1530-32 N 60TH ST,S/D W/D GAR 2 STY MAS+OTH,1,J,4705.61,8.0,C,2.0,1925,107000.0,1978.0
213179,6212 WOODBINE AVE,S/D W/GAR 2 STY MASONRY,1,NaN,3030.25,7.0,B,0.0,1925,68000.0,2004.0
213180,6214 WOODBINE AVE,S/D W/GAR 2 STY MASONRY,1,NaN,3030.25,7.0,B,0.0,1960,75000.0,2004.0
213861,6118-22 W GIRARD AVE,PRIV GAR 1 STY MASONRY,1,0,5500.00,6.0,B,1.0,1925,104400.0,1997.0
215619,6210R RACE ST,PRIV GAR 2 STY MASONRY,1,NaN,1595.88,5.0,B,0.0,1925,73700.0,1961.0
222323,552 MAGEE AVE,PRIV GAR 1 STY MASONRY,1,NaN,2500.00,5.0,C,0.0,1925,22000.0,2006.0
235887,1601-03 S BANCROFT ST,PRIV GAR 1 STY MASONRY,1,NaN,1600.00,6.0,B,0.0,1923,120000.0,2010.0
238693,2526-36 MORRIS ST,PRIV GAR 1 STY MASONRY,1,NaN,11000.00,10.0,B,1.0,1925,825000.0,2001.0
242527,1202 S 35TH ST,PRIV GAR 2 STY MASONRY,1,NaN,824.50,6.0,B,2.0,1925,96300.0,2006.0
242749,1320 S 35TH ST,PRIV GAR 1 STY MASONRY,1,NaN,5603.92,8.0,B,0.0,1940,140000.0,2006.0
242969,1243 S HARMONY ST,PRIV GAR 1 STY MASONRY,1,D,679.00,5.0,B,2.0,1923,72700.0,2011.0
244878,2732 FEDERAL ST,PRIV GAR 1 STY MASONRY,1,D,3200.00,5.0,B,0.0,1923,120000.0,2010.0
265121,3570R CALUMET ST,PRIV GAR 1 STY MASONRY,1,NaN,4463.29,5.0,B,0.0,1925,9600.0,1968.0
270737,1830 S EDGEWOOD ST,PRIV GAR 1 STY MASONRY,1,NaN,22374.00,72.0,B,0.0,1925,375800.0,1997.0
272204,2501-07 S EDGEWOOD ST,PRIV GAR 1 STY MASONRY,1,0,3750.00,6.0,B,0.0,1925,40100.0,2010.0
274600,2806-08 S 11TH ST,PRIV GAR 1 STY MASONRY,1,0,5280.00,16.0,C,1.0,1960,134700.0,2015.0
283544,4813-15 VAN KIRK ST,DET W/D GAR 2 STY MASONRY,1,D,0.00,6.0,C,2.0,1930,132700.0,2020.0
284247,5825-27 JACKSON ST,PRIV GAR 1 STY MASONRY,1,0,7000.00,14.0,S,0.0,1925,88300.0,2004.0
287400,2526 S 64TH ST,PRIV GAR 1 STY MASONRY,1,0,7600.00,18.0,C,1.0,1925,100000.0,2001.0
287636,2509 S 66TH ST,PRIV GAR 1 STY MASONRY,1,NaN,20500.00,42.0,B,0.0,1925,103200.0,2015.0
287791,7701 CHELWYNDE AVE,PRIV GAR 1 STY MASONRY,1,NaN,1875.00,8.0,B,0.0,1925,40600.0,2006.0
289196,2518-20 S 65TH ST,PRIV GAR 1 STY MASONRY,1,NaN,10000.00,5.0,B,0.0,1925,43500.0,2016.0
291852,6826 KINGSESSING AVE,PRIV GAR 1 STY MASONRY,1,0,12060.00,8.0,B,0.0,1925,48700.0,2015.0
292124,2423-25 S 73RD ST,PRIV GAR 1 STY MASONRY,1,NaN,6250.00,8.0,B,0.0,1925,67700.0,2005.0
292334,2427-29 S 73RD ST,PRIV GAR 1 STY MASONRY,1,NaN,6250.00,8.0,B,0.0,1925,85600.0,2005.0
292749,7127 UPLAND ST,PRIV GAR 1 STY MASONRY,1,NaN,15600.00,30.0,B,0.0,1951,228200.0,2019.0
292811,2611 S 76TH ST,PRIV GAR 1 STY MASONRY,1,NaN,2500.00,24.0,B,0.0,1925,33200.0,1956.0
293422,6809-11 GREENWAY AVE,PRIV GAR 1 STY MASONRY,1,NaN,9000.00,24.0,B,1.0,1925,143700.0,1982.0
294043,6719 UPLAND ST,S/D W/D GAR 1 STY MASONRY,1,J,16240.00,6.0,B,0.0,1925,52800.0,2016.0
294187,6201 CHELWYNDE AVE,PRIV GAR 1 STY MASONRY,1,NaN,2942.00,13.0,B,0.0,1925,33400.0,2003.0
294399,6205-07 CHELWYNDE AVE,PRIV GAR 1 STY MASONRY,1,NaN,4850.00,18.0,B,0.0,1925,52200.0,1993.0
295154,6747R-51 GREENWAY AVE,PRIV GAR 1 STY MASONRY,1,NaN,3456.00,10.0,B,0.0,1925,65200.0,2018.0
295387,6738-44 GREENWAY AVE,PRIV GAR 1 STY MASONRY,1,NaN,5870.17,24.0,B,0.0,1925,84700.0,1976.0
297964,214-16 E MENTOR ST,PRIV GAR 1 STY MASONRY,1,NaN,3545.00,15.0,C,0.0,1940,128700.0,1987.0
299013,6947-49 MARSDEN ST,DET 2 STY MASONRY+OTHER,1,0,4250.00,10.0,S,2.0,1980,188200.0,2005.0
299393,316R-28 E CLARKSON AVE,PRIV GAR 1 STY MASONRY,1,NaN,220.00,5.0,B,0.0,1940,11100.0,1955.0
299408,4627 N FRONT ST,PRIV GAR 1 STY MASONRY,1,NaN,2060.00,12.0,C,0.0,1942,72300.0,2014.0
299418,4718 A ST,PRIV GAR 1 STY MASONRY,1,NaN,2090.00,7.0,C,0.0,1925,79700.0,2009.0
301885,4761 RAWLE ST,PRIV GAR 1 STY MASONRY,1,0,4224.60,5.0,C,0.0,1925,56000.0,1991.0
301886,4771 RAWLE ST,PRIV GAR 1 STY MASONRY,1,0,4800.00,11.0,C,0.0,1925,96000.0,1995.0
304811,6153-57 TORRESDALE AVE,ROW 2 STY MASONRY,1,NaN,7750.00,12.0,S,2.0,1945,98500.0,2014.0
305312,5908-10 TULIP ST,DET W/D GAR 2 STY FRAME,1,B,10850.00,7.0,C,2.0,1930,164800.0,2006.0
308662,3527 N 8TH ST,ROW W/DET GAR 2 STY MAS,1,NaN,1296.00,6.0,C,2.0,1920,42900.0,2014.0
310030,5136R N 2ND ST,PRIV GAR 1 STY MASONRY,1,NaN,3104.00,36.0,C,0.0,1930,59200.0,1994.0
310444,4839 MASCHER ST,DET W/D GAR 2 STY MASONRY,1,NaN,4500.00,5.0,C,0.0,1940,115300.0,1948.0
310523,1337 W SEDGLEY AVE,PRIV GAR 2 STY MASONRY,1,NaN,853.00,8.0,NaN,0.0,1942,18000.0,1998.0
310954,4921-23 N LAWRENCE ST,DET W/D GAR 2 STY MASONRY,1,NaN,3950.00,20.0,NaN,2.0,1930,100600.0,1983.0
311600,5531 N AMERICAN ST,DET 1 STY MASONRY,1,NaN,3250.00,6.0,C,0.0,1930,131600.0,1990.0
312689,5520 MASCHER ST,PRIV GAR 1 STY MASONRY,1,NaN,3051.00,5.0,C,0.0,1940,51800.0,2017.0
312869,313R W TABOR RD,PRIV GAR 1 STY MASONRY,1,NaN,5634.00,11.0,C,0.0,1930,79900.0,2003.0
313102,314-18 W CLARKSON AVE,PRIV GAR 1 STY MASONRY,1,NaN,1463.55,14.0,B,0.0,1930,11100.0,2005.0
313136,5421 PALETHORP ST,PRIV GAR 1 STY MASONRY,1,NaN,6966.72,14.0,B,0.0,1940,84300.0,2005.0
313139,5429 PALETHORP ST,PRIV GAR 1 STY MASONRY,1,NaN,4436.80,16.0,B,0.0,1940,23600.0,2014.0
313140,5433 PALETHORP ST,PRIV GAR 1 STY MASONRY,1,NaN,3556.80,10.0,B,0.0,1940,35000.0,2014.0
316358,216 W LOUDON ST,DET W/D GAR 3 STY MASONRY,1,NaN,6000.00,5.0,C,3.0,1930,59500.0,1983.0
319779,3375 ALMOND ST,PRIV GAR 1 STY MASONRY,1,0,1433.66,5.0,B,0.0,1925,48000.0,1999.0
319829,3211-19 CHATHAM ST,PRIV GAR 1 STY MASONRY,1,0,7650.00,23.0,B,0.0,1925,222000.0,2019.0
320279,3297 CHATHAM ST,PRIV GAR 1 STY MASONRY,1,0,1392.75,5.0,B,0.0,1945,36000.0,1985.0
320318,2043 E WILLARD ST,PRIV GAR 1 STY MASONRY,1,NaN,1530.00,10.0,B,0.0,1925,78000.0,2013.0
321425,2216-18 E VENANGO ST,DET W/D GAR 2 STY MASONRY,1,D,2400.00,8.0,C,2.0,1910,150200.0,2005.0
321627,2517 E WESTMORELAND ST,PRIV GAR 1 STY MASONRY,1,0,4225.00,6.0,B,0.0,1925,73400.0,1980.0
321753,5101 HARLAN ST,PRIV GAR 1 STY MASONRY,1,NaN,4971.93,6.0,B,0.0,1925,144100.0,2004.0
322535,2205 E VENANGO ST,PRIV GAR 1 STY MASONRY,1,NaN,1720.00,6.0,C,1.0,2012,115200.0,2009.0
323456,3312 SALMON ST,ROW W/GAR 2 STY MASONRY,1,B,5602.17,8.0,B,2.0,1920,400700.0,2017.0
323673,3332 SALMON ST,ROW 3 STY MASONRY,1,A,1120.00,10.0,A,3.0,2019,392000.0,2019.0
323674,3334 SALMON ST,ROW 3 STY MASONRY,1,A,1120.00,10.0,A,3.0,2019,392000.0,2019.0
323675,3336 SALMON ST,ROW 3 STY MASONRY,1,A,1120.00,10.0,A,3.0,2019,392000.0,2020.0
323676,3338 SALMON ST,ROW 3 STY MASONRY,1,A,1120.00,10.0,A,3.0,2019,392000.0,2019.0
328094,529-33 BLAVIS ST,PRIV GAR 1 STY MASONRY,1,NaN,1471.68,7.0,B,0.0,1940,29600.0,2015.0
336316,1506 CAMBRIDGE ST,PRIV GAR 1 STY MASONRY,1,NaN,863.94,5.0,B,0.0,1925,8600.0,2016.0
339496,4472-74 RICHMOND ST,S/D W/D GAR 2 STY FRAME,1,D,6588.82,5.0,C,2.0,1925,307100.0,2017.0
339903,5048 HAZEL AVE,SEMI/DET 3 STY MASONRY,1,NaN,1980.00,5.0,B,0.0,1925,393300.0,2014.0
339932,4429-31 SALMON ST,SEMI/DET 2 STY MASONRY,1,C,4456.35,8.0,C,2.0,1925,225200.0,2017.0
340855,4474 E ALLEN ST,PRIV GAR 1 STY MASONRY,1,NaN,4604.60,20.0,B,1.0,1925,215700.0,1985.0
340856,4478 E ALLEN ST,PRIV GAR 1 STY MASONRY,1,NaN,4602.99,19.0,B,1.0,1925,183300.0,1992.0
340877,4717-19 JAMES ST,PRIV GAR 1 STY FRAME,1,0,3018.00,6.0,C,0.0,1925,63100.0,2016.0
341108,4765 JAMES ST,PRIV GAR 1 STY MASONRY,1,0,3400.00,6.0,B,0.0,1925,87300.0,2018.0
341430,239-43 FARRAGUT ST,PRIV GAR 1 STY MASONRY,1,NaN,5029.00,10.0,B,0.0,1925,74400.0,1976.0
341730,4745-49 RICHMOND ST,DET W/D GAR 3 STY MASONRY,1,D,9000.00,7.0,C,3.0,1910,379400.0,1983.0
342223,3645 EMERALD ST,ROW W/DET GAR 2 STY MAS,1,J,4600.00,11.0,C,2.0,1925,125700.0,2011.0
342772,2822-28 REYNOLDS ST,DET W/D GAR 2.5 STY MASON,1,NaN,7175.00,5.0,C,2.0,1925,267000.0,2012.0
343216,2720 HAWORTH ST,PRIV GAR 1 STY MASONRY,1,NaN,4225.68,13.0,B,0.0,1925,167200.0,2010.0
343740,3315 FRANKFORD AVE,PRIV GAR 1 STY MASONRY,1,0,2759.40,14.0,B,0.0,1925,37800.0,2017.0
343748,3341 FRANKFORD AVE,PRIV GAR 1 STY MASONRY,1,NaN,1842.57,6.0,B,0.0,1925,96400.0,1998.0
343863,2600 ASH ST,PRIV GAR 1 STY MASONRY,1,NaN,4529.00,10.0,B,1.0,1925,154100.0,1997.0
344192,3433R-37 FRANKFORD AVE,PRIV GAR 1 STY MASONRY,1,NaN,1500.00,6.0,B,0.0,1925,72300.0,2007.0
344779,2765 PRATT ST,PRIV GAR 1 STY MASONRY,1,NaN,3073.09,12.0,B,0.0,1925,40200.0,2019.0
345423,2602 LEFEVRE ST,S/D W/D GAR 2 STY MASONRY,1,D,4004.00,5.0,C,2.0,1925,194500.0,1997.0
371837,5108R-22 HADFIELD ST,PRIV GAR 1 STY MASONRY,1,NaN,3600.00,12.0,B,0.0,1925,34800.0,2007.0
372242,937 S 51ST ST,PRIV GAR 1 STY MASONRY,1,NaN,9834.40,22.0,B,0.0,1925,63800.0,2000.0
407369,6143 WALKER ST,DET W/D GAR 2 STY MASONRY,1,NaN,9925.00,11.0,C,2.0,1940,157200.0,1998.0
407877,4436 DEVEREAUX AVE,PRIV GAR 1 STY MAS+OTH,1,NaN,1980.00,7.0,C,1.0,1950,43200.0,2020.0
435922,1224 NORWALK RD,DET W/GAR 2 STY MAS+OTHER,1,E,6696.50,10.0,A,2.0,2017,533300.0,2016.0
436286,9539 DUNGAN RD,PRIV GAR 1.5 STY MASONRY,1,NaN,5000.00,5.0,B,0.0,1975,89800.0,1986.0
442164,6212 BAYNTON ST,S/D W/D GAR 3 STY MAS+OTH,1,D,7054.05,16.0,C,3.0,1905,164300.0,2015.0
442894,6000R CHEW AVE,PRIV GAR 1 STY STONE,1,0,15380.00,5.0,A,1.0,1925,58600.0,1994.0
444481,41 W WALNUT LN,PRIV GAR 1 STY MASONRY,1,0,9720.36,5.0,C,1.0,1925,97900.0,1992.0
449677,5525 N 6TH ST,PRIV GAR 1 STY MASONRY,1,0,5626.69,24.0,A,0.0,1950,373200.0,1994.0
449742,221R W OLNEY AVE,PRIV GAR 1 STY MASONRY,1,NaN,12318.00,15.0,C,0.0,1925,134600.0,2015.0
459240,5101-03 JACKSON ST,PRIV GAR 1 STY MASONRY,1,NaN,7875.00,12.0,B,0.0,1925,135200.0,2006.0
461560,4304-08 VAN KIRK ST,PRIV GAR 1 STY MASONRY,1,0,5310.00,5.0,B,0.0,1966,112000.0,2015.0
461926,1963 WAKELING ST,S/D W/D GAR 2 STY MAS+OTH,1,D,10800.00,28.0,C,2.0,1945,214500.0,2011.0
470623,9411 FRANKFORD AVE,DET W/GAR 2 STY FRAME,1,NaN,7209.05,10.0,A,2.0,2019,446400.0,2019.0
471593,7815 WALKER ST,DET W/D GAR 3 STY FRAME,1,C,12000.00,6.0,C,0.0,1953,265700.0,2015.0
472268,7934 COTTAGE ST,PRIV GAR 1 STY MASONRY,1,NaN,2208.00,6.0,C,0.0,2007,63400.0,2003.0
472956,7110 HEGERMAN ST,PRIV GAR 1 STY FRAME,1,NaN,3300.00,6.0,C,0.0,2009,55400.0,2005.0
473312,8025-27 MONTAGUE ST,PRIV GAR 1 STY MASONRY,1,NaN,6000.00,6.0,C,0.0,1925,157000.0,1983.0
477918,8002 CRISPIN ST,PRIV GAR 1 STY FRAME,1,NaN,4000.00,5.0,B,1.0,1925,44800.0,2013.0
481724,705 STANWOOD ST,PRIV GAR 1 STY MASONRY,1,NaN,1750.00,7.0,C,0.0,1974,80000.0,2001.0
501717,413 S 10TH ST,ROW 2 STY MASONRY,1,D,1359.37,13.0,B,2.0,1857,319300.0,2018.0
533777,1949 E WILLARD ST,PRIV GAR 1 STY FRAME,1,0,1679.43,8.0,B,0.0,1925,130900.0,2005.0
535238,6101-03 NOBLE ST,PRIV GAR 1 STY MASONRY,1,NaN,5000.00,5.0,B,0.0,1925,51600.0,2009.0
537033,1820 E PACIFIC ST,PRIV GAR 1 STY MASONRY,1,0,5746.00,10.0,B,0.0,1925,151200.0,2018.0
538488,2209 E VENANGO ST,PRIV GAR 1 STY MASONRY,1,0,1640.00,8.0,B,0.0,1940,109800.0,2002.0
559272,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2014.0
559273,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2013.0
559274,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2013.0
559275,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2016.0
559276,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2006.0
559277,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2014.0
559278,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2016.0
559279,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2016.0
559280,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2018.0
559281,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2014.0
559282,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2014.0
559283,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2016.0
559483,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2013.0
559484,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2008.0
559485,317 VINE ST,CONDO PARKING SPACE,1,NaN,0.00,37.0,C,0.0,2006,29000.0,2006.0

In [282]:
len(df[(df['garage_spaces']>4)&(df['category_code']==1)])

254

In [283]:
df[(df['garage_spaces']>4)&(df['category_code']==1)].groupby('garage_type')['garage_spaces'].describe()

             count       mean        std  min    25%   50%    75%   max
garage_type
A             49.0  10.755102   4.530133  5.0  10.00  10.0  10.00  24.0
B             84.0  11.023810   9.534940  5.0   6.00   8.0  12.25  72.0
C            115.0  18.069565  13.899843  5.0   6.00  11.0  37.00  37.0
S              4.0  10.750000   2.986079  7.0   9.25  11.0  12.50  14.0

In [285]:
def bin_parking(x):
    if x == 0:
        return '0'
    elif x==1:
        return '1'
    elif x=='2':
        return '2'
    elif x == 3:
        return '3'
    elif x=='4':
        return '4'
    elif x>4 and x<=10:
        return '5-10'
    elif x>10:
        return '>10'

In [286]:
df['parking_spaces']=df['garage_spaces'].apply(lambda x: bin_parking(x))

In [287]:
df['parking_spaces'].value_counts()

0       323563
1       242025
3          641
5-10       327
>10        209
Name: parking_spaces, dtype: int64

# Filling NAs in Garage Spaces